<div class="login-state-profile-box mt-3 mt-md-0 mt-lg-0 mt-xl-0" *ngIf="_authenticationService.isLoggedIn()">
    <div class="row d-flex flex-row align-items-center">
        <div>
            <img class="img-fluid login-state-profile-box-photo" [src]="_authenticationService.avatar" alt="">
        </div>
        <div>
            <p>Hoşgeldiniz <span>Sn. {{_authenticationService.currentUser.name + ' ' + _authenticationService.currentUser.lastName}}</span></p>
            <small *ngIf="_authenticationService.currentUser.lastLoginTime != null">
                <img src="assets/images/icons/profile-box-time-icon.svg" alt="">
                Son İşlem Tarihiniz: {{_authenticationService.currentUser.lastLoginTime | date :'dd-MM-yyyy'}}
            </small>
        </div>
    </div>
</div>
