<div class="news-featured-categories">
    <div class="row news-featured-categories-gundem">
        <a href="">Gündem</a>
    </div>
    <div class="row news-featured-categories-doviz">
        <a href="">Döviz</a>

    </div>
    <div class="row news-featured-categories-paralar">
        <a href="">Kripto Paralar</a>

    </div>
    <div class="row news-featured-categories-altin">
        <a href="">Altın</a>

    </div>
    <div class="row news-featured-categories-borsa">
        <a href="">Borsa</a>

    </div>
    <div class="row news-featured-categories-emtia">
        <a href="">Emtia</a>

    </div>
</div>