<div class="news-featured-categories">
    <div class="row news-featured-categories-gundem">
        <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Gundem, getCategoryName(_globalConstants.PostCategories.Gundem)]">Gündem</a>
    </div>
    <div class="row news-featured-categories-doviz">
        <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Doviz, getCategoryName(_globalConstants.PostCategories.Doviz)]">Döviz</a>

    </div>
    <div class="row news-featured-categories-paralar">
        <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Kripto, getCategoryName(_globalConstants.PostCategories.Kripto)]">Kripto Paralar</a>

    </div>
    <div class="row news-featured-categories-altin">
        <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Altin, getCategoryName(_globalConstants.PostCategories.Altin)]">Altın</a>

    </div>
    <div class="row news-featured-categories-borsa">
        <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Borsa, getCategoryName(_globalConstants.PostCategories.Borsa)]">Borsa</a>

    </div>
    <div class="row news-featured-categories-emtia">
        <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Emtia, getCategoryName(_globalConstants.PostCategories.Emtia)]">Emtia</a>

    </div>
</div>