<div class="container-fluid sub-page-top-links">
    <div class="row">
        <div class="container">
            <div class="row sub-page-top-links-box">
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.EnSon, getCategoryName(_globalConstants.PostCategories.EnSon)]">En Son Haberler</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.EnPopuler, getCategoryName(_globalConstants.PostCategories.EnPopuler)]">En Popüler Haberler </a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Blog, getCategoryName(_globalConstants.PostCategories.Blog)]">Blog</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Emtia, getCategoryName(_globalConstants.PostCategories.Emtia)]">Emtia & Vadeli İşlem</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Borsa, getCategoryName(_globalConstants.PostCategories.Borsa)]">Borsa</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.EkonIndikator, getCategoryName(_globalConstants.PostCategories.EkonIndikator)]">Ekonomik İndikatörler</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Ekonomi, getCategoryName(_globalConstants.PostCategories.Ekonomi)]">Ekonomi</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Dunya, getCategoryName(_globalConstants.PostCategories.Dunya)]">Dünya</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Turkiye, getCategoryName(_globalConstants.PostCategories.Turkiye)]">Türkiye</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news', _globalConstants.PostCategories.Kripto, getCategoryName(_globalConstants.PostCategories.Kripto)]">Kripto Para</a>
                </div>
            </div>
        </div>
    </div>
</div>