<div class="container-fluid sub-page-top-links">
    <div class="row">
        <div class="container">
            <div class="row sub-page-top-links-box">
                <div class="col">
                    <a href="">En Son Haberler</a>
                </div>
                <div class="col">
                    <a href="">En Popüler Haberler </a>
                </div>
                <div class="col">
                    <a href="">Döviz</a>
                </div>
                <div class="col">
                    <a href="">Emtia & Vadeli İşlem</a>
                </div>
                <div class="col">
                    <a href="">Borsa</a>
                </div>
                <div class="col">
                    <a href="">Ekonomik İndikatörler</a>
                </div>
                <div class="col">
                    <a href="">Ekonomi</a>
                </div>
                <div class="col">
                    <a href="">Dünya</a>
                </div>
                <div class="col">
                    <a href="">Türkiye</a>
                </div>
                <div class="col">
                    <a href="">Kripto Para</a>
                </div>
            </div>
        </div>
    </div>
</div>