<div class="container-fluid sub-page-top-links">
    <div class="row">
        <div class="container">
            <div class="row sub-page-top-links-box">
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.EnSon]">En Son Haberler</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.EnPopuler]">En Popüler Haberler </a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.Doviz]">Döviz</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.Emtia]">Emtia & Vadeli İşlem</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.Borsa]">Borsa</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.EkonIndikator]">Ekonomik İndikatörler</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.Ekonomi]">Ekonomi</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.Dunya]">Dünya</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.Turkiye]">Türkiye</a>
                </div>
                <div class="col">
                    <a href="" [routerLink]="['/news-list', _globalConstants.PostCategories.Kripto]">Kripto Para</a>
                </div>
            </div>
        </div>
    </div>
</div>