.main-menu{
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: $doviz-color;
    nav{
       
        .nav-link{
            color: #fff!important;
            font-size: 17px;
            font-weight: 600;
        }
        .header-register-btn{
            font-weight: 600;
            span{
                svg{
                   
                    margin-right: 5px;
                }
            }
        }
    }
}
.navbar-brand {
    
    img{
        max-width: 14rem;
    }
    
}