.main-menu{
    
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: $doviz-color;
    nav{
       
        .nav-link{
            color: #fff!important;
            font-size: 17px;
            font-weight: 600;
        }
        .header-register-btn{
           
  @include media-breakpoint-down(md) {
margin-top:1rem;
display:block;
text-align:left;
  
  }

            font-weight: 600;
            span{
                svg{
                   
                    margin-right: 5px;
                }
            }
        }
    }
}
<<<<<<< HEAD
.navbar-toggler{
  @include media-breakpoint-down(md) {
border-color:white !important;
background-color: #f8f9fa;
  border-radius:0;
  }
=======
.navbar-brand {
    
    img{
        max-width: 14rem;
    }
    
>>>>>>> 30dd3a0224526bc8ab4558a69fc9aaa499756fa2
}