.hero-bar {
    background: url("assets/images/hero-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    // height: 300px;
    left: 0;
    right: 0;

    .hero-bar-currency {

        color: #fff;
        line-height: 1.2;

        &-type {
            font-weight: 700;
            font-size: 13px;
        }

        &-price {
            font-weight: 600;
            font-size: 28px;
        }

        &-state {
            font-size: 14px;
            font-weight: 500;

            span {
                svg {
                    margin-left: 3px;
                }


            }
        }
    }
}

.currency-converter {
    padding: 17px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding-bottom: 0;

    &-tab {
        li {
            a {
                border: 0!important;
                padding: .9rem;
                &.active { 
                }

                &:hover {
                    border: 0;
                }
            }
        }
    }

    .input-group-text {
        padding: 0;
        margin: 0;

        select {
            width: 85px;
            border: 0;
            border-radius: 0;
            height: 50px;
            background: url('assets/images/currency-converter/down.svg') no-repeat right;
            -webkit-appearance: none;
            background-position-x: 60px;
            background-size: 15px;

            &:focus {
                box-shadow: none;
            }
        }
    }

    &-header {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        img {
            max-width: 1.5rem;
        }

        h1 {
            font-weight: 600;
            font-size: .9rem;
            margin-bottom: 0;
            color: #414649;
            margin-left: 10px;

        }
    }

    &-content {
        input {
            height: 52px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;

            color: #868686;


        }

        .dropdown-toggle {
            height: 52px;
            padding: 10px;
            background-color: transparent;
            border: 1.81766px solid #F0F0F0;
            box-sizing: border-box;


        }
    }

    .currency-box {
        span {
            margin-left: 10px;
        }

    }

    .currency-converter-content {
        .form-control {
            border-right: 0;
        }

        .input-group-append {

            .input-group-text {
                border-left: 0;
                background-color: transparent;
            }
        }

    }
}