.home-news-carousel {
  position: relative;

  &-item {
    &-title {
      position: absolute;
      font-size: 36px;
      font-weight: 600;
      color: #fff;
      bottom: 80px;
      left: 22px;
      max-width: 70%;
      text-align: left;
      line-height: 29px;
    }
  }

}

.home-news-carousel-count {
  position: absolute;
  bottom: 20px;
  left: 20px;

  @include media-breakpoint-down(md) {
    margin: 0 auto;
    width: 100% !important;
    bottom: unset;
    margin-top: 2rem;
    margin-bottom: .2rem;
    position: relative;
    clear: both;
    left: 0;
    right: 0;
  }


}

#sync1 {
  .item {
    color: #FFF;
    text-align: center;
  }
}

#sync2 {
  .owl-stage {

    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100% !important;
    }

    .active {
      width: 40px !important;
      margin-right: 0.5rem;
      @include media-breakpoint-down(md) {
        width: auto;
      }
    }
  }

  .item {
    background: #ffffff;
    padding: 10px;
    margin: 5px;
    color: #000;
    width: 40px;
    height: 40px;
    
    border-radius: 3px;
    text-align: center;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      width: 40px;
      height: 40px;
      padding: 10px;
      margin: 0.2rem;
      border: 1px solid $gray-500;
      margin-bottom: 1rem;


    }

    h1 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .current .item {
    background: #3A6F53;
    color: #fff;
    font-weight: 600;
  }
}



.owl-theme {
  .owl-nav {

    /*default owl-theme theme reset .disabled:hover links */
    [class*='owl-'] {
      transition: all .3s ease;

      &.disabled:hover {
        background-color: #D6D6D6;
      }
    }

  }
}

//arrows on first carousel
#sync1.owl-theme {
  position: relative;

  .owl-next,
  .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
  }

  .owl-prev {
    left: 10px;
  }

  .owl-next {
    right: 10px;
  }
}
