.piyasa-ozeti {
    width: 100%;
    border: 2px solid $color-gray-2;
    padding: 1.3rem 1rem;

    &-header {
        p {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: $color-gray-4;
            position: relative;
            padding-bottom: 20px;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 5px;
                height: 2px;
                width: 100%;
                background-color: $color-gray-4;
            }

            svg {
                fill: $color-gray-4;
            }
        }
    }

    &-content {
        &-item {
            font-weight: 500;
            font-size: .9rem;
            color: #000000;
            padding: .6rem .6rem;
            transition: .3s ease-in-out;
            outline: 2px solid transparent;

            p {
                margin-bottom: 0;
            }
            &:hover {
                background-color: $color-gray-1;
                outline: 2px solid $color-gray-2;
                transform: scale(1.05);
            }

        }


    }
}