.slider-single {
  div {
    position: relative;

    a {
      position: absolute;
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
      bottom: 5rem;
      left: 2.7rem;
      max-width: 70%;
      text-align: left;
      line-height: 2rem;
      text-shadow: 0px 0px 10px #000;
    }
    img{
        border-radius: 3px;
    }
  }
}

.slider-nav {
  position: absolute;
  z-index: 1;
  bottom: 4.5rem;
  left: 2.5rem;

  .slick-slide {
    width: 55px !important;
    border-radius: 5px !important;

    &.is-active {
      h3 {
        background-color: $doviz-color-2 !important;
        color: $white !important;
      }
    }
  }

  h3 {
    background: #f0f0f0;
    color: #000;
    font-size: 1.2rem;
    margin: 0.2rem;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    border-radius: 3px;
    &::before {
      content: "";
      display: block;
      padding: 1rem;
    }

    span {
      font-size: 1.2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
