<div class="home-news-list mb-4">
    <div class="row">
        <div *ngFor="let post of postList" class="col-md-6 d-flex align-items-start home-news-list-item">
            <div>
                <img class="home-news-list-item-featured-image" [src]="post.imagePath" alt="">
            </div>
            <div class="ml-2">
                <a class="home-news-list-item-title" [routerLink]="['/', post.id, post.urlFromTitle]">{{post.title}}</a>
                <p class="home-news-list-item-date">{{post.publishDate | date :'dd-MM-yyyy'}}</p>
            </div>
        </div>
    </div>
</div>
