<navigation-header></navigation-header>
<main>
    <section class="hero-bar">
        <div class="container-fluid">
        <div class="row">
            <div class="container mt-4">
                <currency-bar></currency-bar>
            </div>
            <div class="container mt-4">
            <div class="row row d-flex flex-row align-items-stretch">
                <div class="col-md-8">
                    <slider></slider>
                </div>
                <div class="col-md-4 currency-converter">
                    <login-state-profile-box></login-state-profile-box>
                    <converter></converter>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-8">
                    <home-post-list></home-post-list>
                </div>
                <div class="col-md-4">
                    <market-analyse></market-analyse>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</main>
<footer-dolarnet></footer-dolarnet>