<navigation-header></navigation-header>
<main class="sub-page">
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <currency-bar></currency-bar>
                </div>
            </div>
            <div class="container">
                <div class="row row d-flex flex-row align-items-stretch">
                    <div class="col-md-8 news-detail mt-5">
                        <login-state-profile-box></login-state-profile-box>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                            <li class="breadcrumb-item active">Profilim</li>
                        </ol>

                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col">
                                <div class="border rounded d-flex align-items-center justify-content-between">
                                    <img src="assets/images/profile/profile-down-arrow.png" alt="">
                                    <div class="d-flex mr-2 flex-column align-items-end justify-content-center">
                                        <h5 class="mb-0">₺ {{getConvertedToTry(this.marketValue)}}</h5>
                                        <h5 class="mb-0"></h5>
                                        <small>Piyasa Değeri </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="border rounded d-flex align-items-center justify-content-between">
                                    <img src="assets/images/profile/profile-up-arrow.png" alt="">
                                    <div class="d-flex mr-2 flex-column align-items-end justify-content-center">
                                        <h5 class="text-success mb-0">₺ {{getConvertedToTry(openPrice)}}</h5>
                                        <h5 class="text-success mb-0">0,03%</h5>
                                        <small>Açık Kâr/Zarar</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="border rounded d-flex align-items-center justify-content-between">
                                    <img class="ml-0 p-0 img-fluid" src="assets/images/profile/profile-default-icon.png"
                                        alt="">
                                    <div class="d-flex mr-2 flex-column align-items-end justify-content-center">
                                        <h5 class="text-danger mb-0">₺ {{getConvertedToTry(dailyPrice)}}</h5>
                                        <h5 class="text-danger mb-0">0,03%</h5>
                                        <small>Günlük Kâr/Zarar </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <!-- <div class="row">
                                <div class="col mt-4">
                                    <a class="text-dark" href="">Yeni Pozisyon Ekle
                                        <svg class='remix'>
                                            <use
                                                xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-add-circle-line">
                                            </use>
                                        </svg>
                                    </a>
                                </div>
                            </div> -->
                            <p></p>                            
                            
                            <ul class="nav nav-tabs profile-tab-content" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-dark active" id="holdings-tab" data-toggle="tab" href="#holdings"
                                        role="tab" aria-controls="holdings" aria-selected="true">Varlıklar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="portfolio-tab" data-toggle="tab" href="#portfolio"
                                        role="tab" aria-controls="portfolio" aria-selected="false">Takip Ettiklerim</a>
                                </li>                                
                            </ul>
                            <div class="tab-content border pl-3 pr-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="holdings" role="tabpanel"
                                    aria-labelledby="holdings-tab">
                                    <p></p>
                                    <div class="h4 mb-24">Varlık Bilgisi Giriş</div>

                                    <div class="form-group mt-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptionsForPosition" id="inlineRadioCurrency"
                                            [(ngModel)]="optionPositionType" [value]="1" (change)="onPositionTypeChanged()" [checked]="optionPositionType === _globalConstants.PositionType.Currency">
                                            <label class="form-check-label" for="inlineRadioCurrency">Döviz</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptionsForPosition" id="inlineRadioGold"
                                            [(ngModel)]="optionPositionType" [value]="2" (change)="onPositionTypeChanged()" [checked]="optionPositionType === _globalConstants.PositionType.Gold">
                                            <label class="form-check-label" for="inlineRadioGold">Altın</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptionsForPosition" id="inlineRadioCripto"
                                            [(ngModel)]="optionPositionType" [value]="3" (change)="onPositionTypeChanged()" [checked]="optionPositionType === _globalConstants.PositionType.Cripto"> 
                                            <label class="form-check-label" for="inlineRadioCripto">Kripto Para</label>
                                        </div>
                                    </div>
                                    
                                    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                                        <div class="form-group mt-3" *ngIf="optionPositionType === _globalConstants.PositionType.Currency" fxFlex="70">
                                            <mat-form-field class="example-full-width">
                                                <input type="text"
                                                        placeholder="Pozisyon Arayın"
                                                        aria-label="Number"
                                                        matInput
                                                        [formControl]="listBoxCurrency"
                                                        [(ngModel)]="selectedCurrency"
                                                        [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let curr of filteredCurrencies | async" [value]="curr.adi" (onSelectionChange)="onPositionSelectedCurrency(curr)">
                                                        <p>
                                                            <span [ngClass]="getCurrencyFlagCss(curr.adi)"></span>                                            
                                                            <span> {{curr.adi}}</span> | <small>{{curr.uzunAdi}}</small>
                                                        </p>
                                                    </mat-option>
                                                </mat-autocomplete> 
                                                <button mat-button mat-icon-button matSuffix (click)="clearSearchField()" *ngIf="selectedCurrency">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group mt-3" *ngIf="optionPositionType === _globalConstants.PositionType.Gold" fxFlex="70">
                                            <mat-form-field class="example-full-width">
                                                <input type="text"
                                                        placeholder="Pozisyon Arayın"
                                                        aria-label="Number"
                                                        matInput
                                                        [formControl]="listBoxGold"
                                                        [(ngModel)]="selectedGold"
                                                        [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let gold of filteredGolds | async" [value]="gold.adi" (onSelectionChange)="onPositionSelectedGold(gold)">
                                                        <span> {{gold.adi}}</span>
                                                    </mat-option>
                                                </mat-autocomplete> 
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group mt-3" *ngIf="optionPositionType === _globalConstants.PositionType.Cripto" fxFlex="70">
                                            <mat-form-field class="example-full-width">
                                                <input type="text"
                                                        placeholder="Pozisyon Arayın"
                                                        aria-label="Number"
                                                        matInput
                                                        [formControl]="listBoxCoin"
                                                        [(ngModel)]="selectedCoin"
                                                        [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let coin of filteredCoins | async" [value]="coin.code" (onSelectionChange)="onPositionSelectedCoin(coin)">
                                                        <p class="mb-0"><img [src]="getCriptoFlagCss(coin.code)"> {{coin.code}} - {{coin.name}}</p>
                                                    </mat-option>
                                                </mat-autocomplete> 
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div *ngIf="isPositionSelected" class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                                        
                                        <form fxLayout="column" fxLayoutAlign="start"
                                            fxFlex="1 0 auto" name="postHoldingForm" [formGroup]="postHoldingForm">

                                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                                <mat-form-field appearance="outline" fxFlex="25" class="pr-2">
                                                    <mat-label>Alış Tarihi</mat-label>
                                                    <input matInput [matDatepicker]="purchaseDatePicker" 
                                                        name="purchaseDatePicker" 
                                                        formControlName="purchaseDate"
                                                        required>
                                                    <mat-datepicker-toggle matSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #purchaseDatePicker></mat-datepicker>
                                                </mat-form-field>    
                                                
                                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="25" class="pr-2">
                                                    <mat-label>Miktar</mat-label>
                                                    <input matInput placeholder="Miktar"
                                                            name="amountOfHolding"
                                                            formControlName="amount"
                                                            type="number">
                                                </mat-form-field>

                                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="30" class="pr-2">
                                                    <mat-label>Alış Değeri</mat-label>
                                                    <input matInput placeholder="Alış Değeri"
                                                            name="priceOfHolding"
                                                            formControlName="price"
                                                            type="number">
                                                    <span matPrefix>₺&nbsp;</span>
                                                </mat-form-field>
                                                <div fxFlex="10" class="pr-2">
                                                    <button type="button" class="btn btn-success btn-block"  
                                                    (click) = "saveHolding(postHoldingForm.value)"
                                                    [disabled]="postHoldingForm.invalid">Ekle</button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="">
                                        <button type="button" class="btn btn-success active">Varlikler</button>
                                        <button type="button" class="btn btn-secondary"> İşlemler</button>
                                        <button type="button" class="btn btn-secondary">Grafikler</button>
                                    </div>
                                    <table class="table table-bordered table-hover mt-4 w-auto small">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Adı</th>
                                                <th scope="col">Alış Tarihi</th>
                                                <th scope="col">Miktar</th>
                                                <th scope="col">Alınan Değer(&#8378;)</th>
                                                <th scope="col">Şimdiki Değeri(&#8378;)</th>
                                                <th scope="col">Piyasa Değeri(&#8378;)</th>
                                                <th scope="col">Günlük (%)</th>
                                                <th scope="col">Günlük (&#8378;)</th>
                                                <th scope="col">Açık (%)</th>
                                                <th scope="col">Açık (&#8378;)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="align-middle" *ngFor="let holding of holdings" (click)="editHolding(holding)">
                                                <td (click)="$event.stopPropagation()">
                                                    <button (click)="deleteHolding(holding)" mat-icon-button color="#b71c1c">
                                                        <mat-icon aria-label="Delete">delete</mat-icon>
                                                    </button>
                                                </td>
                                                <th scope="row">
                                                    {{holding.holdingCode}}
                                                </th>                                                                                                    
                                                <td>
                                                    {{holding.purchaseDate | date :'dd-MM-yyyy'}} 
                                                </td>
                                                <td>
                                                    {{holding.amount}}
                                                </td>
                                                <td>
                                                    {{getConvertedToTry(holding.price)}}
                                                </td>
                                                <td>
                                                    {{getConvertedToTry(holding.todaysPrice)}}
                                                </td> 
                                                <td>
                                                    {{getConvertedToTry(holding.marketPrice)}}
                                                </td>  
                                                <td>
                                                    {{getConvertedToTry(holding.dailyChangeRate)}}
                                                </td> 
                                                <td>
                                                    {{getConvertedToTry(holding.dailyChange)}}
                                                </td> 
                                                <td>
                                                    {{getConvertedToTry(holding.openChangeRate)}}
                                                </td>  
                                                <td>
                                                    {{getConvertedToTry(holding.openChange)}}
                                                </td>                                               
                                              </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel"
                                    aria-labelledby="profile-tab">...</div>
                                <div class="tab-pane fade" id="contact" role="tabpanel"
                                    aria-labelledby="contact-tab">...</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-5 p-0">
                        <div class="currency-converter">
                            <converter></converter>
                        </div>
                        <!-- <div class="mt-4">
                            <market-analyse></market-analyse>
                        </div> -->
                    </div>

                </div>
                <news-popular></news-popular>
                <news-latest></news-latest>

            </div>
        </div>
    </section>
    <section>


    </section>
</main>
<footer-dolarnet></footer-dolarnet>
