<navigation-header></navigation-header>
<main class="sub-page">
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <currency-bar></currency-bar>
                </div>
            </div>
            <div class="container">
                <div class="row row d-flex flex-row align-items-stretch">
                    <div class="col-md-8 news-detail mt-5">
                        <login-state-profile-box></login-state-profile-box>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                            <li class="breadcrumb-item active">Profilim</li>
                        </ol>

                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col">
                                <div class="border rounded d-flex align-items-center justify-content-between">
                                    <img src="assets/images/profile/profile-down-arrow.png" alt="">
                                    <div class="d-flex mr-2 flex-column align-items-end justify-content-center">
                                        <h5 class="text-danger mb-0">-₺631.110,46</h5>
                                        <small>Piyasa Değeri </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="border rounded d-flex align-items-center justify-content-between">
                                    <img src="assets/images/profile/profile-up-arrow.png" alt="">
                                    <div class="d-flex mr-2 flex-column align-items-end justify-content-center">
                                        <h5 class="text-success mb-0">₺228,22/0,03%</h5>
                                        <small>Açık Kâr/Zarar</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="border rounded d-flex align-items-center justify-content-between">
                                    <img class="ml-0 p-0 img-fluid" src="assets/images/profile/profile-default-icon.png"
                                        alt="">
                                    <div class="d-flex mr-2 flex-column align-items-end justify-content-center">
                                        <h5 class="text-danger mb-0">₺228,23/0,03%</h5>
                                        <small>Günlük Kâr/Zarar </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <!-- <div class="row">
                                <div class="col mt-4">
                                    <a class="text-dark" href="">Yeni Pozisyon Ekle
                                        <svg class='remix'>
                                            <use
                                                xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-add-circle-line">
                                            </use>
                                        </svg>
                                    </a>
                                </div>
                            </div> -->
                            <div class="form-group mt-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsForPosition" id="inlineRadioCurrency"
                                    (change)="onPositionTypeChanged()" checked="true">
                                    <label class="form-check-label" for="inlineRadioCurrency">Döviz</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsForPosition" id="inlineRadioGold"
                                    (change)="onPositionTypeChanged()">
                                    <label class="form-check-label" for="inlineRadioGold">Altın</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptionsForPosition" id="inlineRadioCripto"
                                    (change)="onPositionTypeChanged()"> 
                                    <label class="form-check-label" for="inlineRadioCripto">Kripto Para</label>
                                </div>
                            </div>
                            
                            <div class="form-group mt-3">
                                <!-- <label for="">EUR/USD or AAPL</label> -->
                                <!-- <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                    placeholder="Pozisyon Arayın"> -->

                                <mat-form-field class="example-full-width">
                                    <input type="text"
                                            placeholder="Pick one"
                                            aria-label="Number"
                                            matInput
                                            [formControl]="myControl"
                                            [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                        </mat-option>
                                    </mat-autocomplete> 
                                </mat-form-field>
                            </div>
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-success active">Varlikler</button>
                                <button type="button" class="btn btn-secondary"> İşlemler</button>
                                <button type="button" class="btn btn-secondary">Grafikler</button>
                            </div>
                            <p></p>
                            
                            <ul class="nav nav-tabs profile-tab-content" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-dark active" id="home-tab" data-toggle="tab" href="#home"
                                        role="tab" aria-controls="home" aria-selected="true">Summary</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="profile-tab" data-toggle="tab" href="#profile"
                                        role="tab" aria-controls="profile" aria-selected="false">Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="contact-tab" data-toggle="tab" href="#contact"
                                        role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                                </li>
                            </ul>
                            <div class="tab-content border pl-3 pr-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <table class="table table-bordered table-hover mt-4">
                                        <thead>
                                            <tr>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row">2</td>
                                                <td>1</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">c</td>
                                                <td>a</td>
                                                <td>a</td>
                                            </tr>
                                        </tbody>
                                    </table></div>
                                <div class="tab-pane fade" id="profile" role="tabpanel"
                                    aria-labelledby="profile-tab">...</div>
                                <div class="tab-pane fade" id="contact" role="tabpanel"
                                    aria-labelledby="contact-tab">...</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-5 p-0">
                        <div class="currency-converter">
                            <converter></converter>
                        </div>
                        <div class="mt-4">
                            <market-analyse></market-analyse>
                        </div>
                    </div>

                </div>
                <news-popular></news-popular>
                <news-latest></news-latest>

            </div>
        </div>
    </section>
    <section>


    </section>
</main>
<footer-dolarnet></footer-dolarnet>
