<navigation-header></navigation-header>
<main class="sub-page">
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <currency-bar></currency-bar>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid sub-page-top-links">
            <div class="row">
                <div class="container">

                    <div class="row sub-page-top-links-box">
                        <div class="col">
                            <a href="">En Son Haberler</a>
                        </div>
                        <div class="col">
                            <a href="">En Popüler Haberler </a>
                        </div>
                        <div class="col">
                            <a href="">Döviz</a>
                        </div>
                        <div class="col">
                            <a href="">Emtia & Vadeli İşlem</a>
                        </div>
                        <div class="col">
                            <a href="">Borsa</a>
                        </div>
                        <div class="col">
                            <a href="">Ekonomik İndikatörler</a>
                        </div>
                        <div class="col">
                            <a href="">Ekonomi</a>
                        </div>
                        <div class="col">
                            <a href="">Dünya</a>
                        </div>
                        <div class="col">
                            <a href="">Türkiye</a>
                        </div>
                        <div class="col">
                            <a href="">Kripto Para</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid mt-2 information-box">
            <div class="row">
                <div class="container">
                    <p>Bu bölüm, küresel döviz, emtia ve hisse senedi piyasalarındaki son finansal raporları ve son
                        dakika haberlerini içermektedir. Ayrıca emtia, hisse senetleri, faiz oranlarını geniş
                        kapsamlı olarak ve faiz oranları ile ek ekonomik göstergeleri ise çok geniş bir yelpazede
                        bulacaksınız.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row d-flex flex-row align-items-stretch">
                <div class="col-md-8 news-detail">

                    <figure class="figure">
                        <img src="assets/images/home-news-carousel/slide-1.jpg" class="figure-img img-fluid rounded"
                            data-toggle="tooltip" data-placement="left" data-html="true" title="<small><strong>ETİKETLER:</strong> </small>
                        <small>Döviz,</small><small>Dolar</small>" alt="...">

                        <figcaption class="figure-caption">A caption for the above image for search engine
                            optimization</figcaption>
                    </figure>

                    <h1 class="news-detail-title">IMF sentetik CBDC’lerin daha iyi bir seçenek olduğunu savundu
                    </h1>

                    <time class="news-detail-time">
                        <svg class='remix'>
                            <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-time-line"></use>
                        </svg>
                        27.09.2019 11:17</time>
                    <p class="news-detail-p">Kripto para birimleri piyasasının en yüksek hacimli birimi Bitcoin hash
                        rate’indeki (Belirli
                        bir süre içinde, bir Bitcoin sağlayıcı tarafından yapılan çıkarımların sayısı) düşüşün
                        toparlanmasına rağmen piyasadaki eksi yönlü eğilim devam ederken, Bitcoin 8,097 dolarla 8
                        bin doların üzerinde tutunuyor.</p>
                    <p class="news-detail-p">Coin Dance’de yer alan verilere göre Bitcoin hash rate’i 23 Eylül’de
                        saniye başı 104
                        kentilyon hash düzeyinden rekor düzeyde gerileyerek saniye başı 57 kentilyon hash’e
                        gerilemişti. Söz konusu düzey, 24 Eylül’de toparlanarak saniye başı 114 kentilyon hash’e
                        yükseldi. Bunun yanında, Cointelegraph’da William Suberg’in haberinde, hash rate
                        rakamlarının Bitcoin fiyatı üzerinde doğrudan etkisi olduğu yönündeki savın, Bitcoin hash
                        rate’inde izlenen artış ve fiyatında izlenen düşüşle çeliştiği belirtildi.</p>
                    <p class="news-detail-p">
                        Gelişmelerin ardından piyasanın en yüksek hacimli kripto para birimi Bitcoin, son 24 saatte
                        yüzde 4.14 düşüşle 8,097 dolara geriledi ve 145 milyar 434 milyon dolarlık piyasa hacmiyle
                        piyasanın yüzde 67.9’unu oluşturdu.
                    </p>
                    <p class="news-detail-p">
                        Toplam 2,902 adet kripto para biriminin oluşturduğu piyasanın en yüksek hacimli 100
                        biriminden son 24 saatte 82’si düştü ve piyasadaki düşüşe yüzde 14.81 ile 89’uncu sıradaki
                        Crypterium öncülük etti.
                    </p>
                    <p class="news-detail-p">
                        Söz konusu seyre paralel olarak piyasa hacmi son 24 saatte 214 milyar 280 milyon dolarla 215
                        milyar doların altına inerken, piyasadaki 24 saatlik işlem hacmi de 67 milyar 179 milyon
                        dolar olarak hesaplandı.
                    </p>
                    <small class="font-weight-bold news-detail-tags-title ">
                        <svg class='remix'>
                            <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-price-tag-3-line"></use>
                        </svg>
                        HABER ETİKETLERİ
                    </small>
                    <span class="badge news-detail-tag">Türkiye Tarım Yatırımı</span>
                    <span class="badge news-detail-tag">son dakika haberler</span>
                    <section class="news-detail-comment-section">
                        <div class="row">
                            <div class="col-md-11 news-detail-comment-section-title">
                                <h3>Haber
                                    Yorumlarını Göster</h3>
                            </div>
                            <div class="col-md-1 news-detail-comment-section-icon">
                                <a href="" data-toggle="collapse" data-target="#commets-list" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    <svg class='remix'>
                                        <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-eye-close-line">
                                        </use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="commets-list">
                            <div class="row news-detail-comment-section-item">
                                <div class="col-md-1 pt-0 pl-0 pr-0">
                                    <img class="news-detail-comment-section-item-avatar img-fluid rounded-circle"
                                        src="assets/images/news/avatar/Ellipse.jpg" alt="">
                                </div>
                                <div class="col-md-11">
                                    <p class="news-detail-comment-section-item-user">Enes Kırdemir</p>
                                    <p class="news-detail-comment-section-item-comment">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Quo, suscipit.</p>
                                </div>
                            </div>
                            <div class="row news-detail-comment-section-item">
                                <div class="col-md-1 pt-0 pl-0 pr-0">
                                    <img class="news-detail-comment-section-item-avatar img-fluid rounded-circle"
                                        src="assets/images/news/avatar/Ellipse.jpg" alt="">
                                </div>
                                <div class="col-md-11">
                                    <p class="news-detail-comment-section-item-user">Enes Kırdemir</p>
                                    <p class="news-detail-comment-section-item-comment">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Soluta architecto ad aut optio ipsa sed esse?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>

                <div class="col-md-4 news-featured-categories">
                    <market-analyse></market-analyse>
                </div>

            </div>
            <div class="featured-news-title mt-3 mb-3">
                <div class="col-md-12">
                    <div class="row">
                        <h1>Sizin için Seçtiklerimiz</h1>
                    </div>
                </div>
            </div>
            <div class="row news-list">
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="assets/images/news/news-featured-image06.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="assets/images/news/news-featured-image03.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="assets/images/news/news-featured-image02.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="assets/images/news/news-featured-image01.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
            </div>
            <div class="featured-news-title mt-5 mb-3">
                <div class="col-md-12">
                    <div class="row">
                        <h1>En Son Haberler</h1>
                    </div>
                </div>
            </div>
            <div class="row news-list">
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="assets/images/news/news-featured-image06.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="assets/images/news/news-featured-image03.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="assets/images/news/news-featured-image02.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="assets/images/news/news-featured-image01.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
            </div>

        </div>
    </section>
</main>
<footer-dolarnet></footer-dolarnet>