<div class="row">
  <div class="piyasa-ozeti mb-4">
    <div class="piyasa-ozeti-header">
      <p>
        <span>
          <svg class='remix'>
            <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-funds-box-line"></use>
          </svg>
        </span>

        Piyasa Özeti
      </p>
    </div>
    <div class="piyasa-ozeti-content">
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4">
            <p>Bitcoin</p>
          </div>
          <div class="col-4 text-center">
            <p>${{this.marketAnalyseVM.bitcoinTLValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.bitcoinTLRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.bitcoinTLRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.bitcoinTLRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.bitcoinTLRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4">
            <p>Etherium</p>
          </div>
          <div class="col-4 text-center">
            <p>${{this.marketAnalyseVM.etheriumTLValueStr}} </p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.etheriumTLRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.etheriumTLRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.etheriumTLRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.etheriumTLRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4 text-left">
            <p>XRP</p>
          </div>
          <div class="col-4 text-center">
            <p>${{marketAnalyseVM.xrpTLValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.xrpTLRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.xrpTLRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.xrpTLRateInt < 0" class="text-danger">% {{this.marketAnalyseVM.xrpTLRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4 text-left">
            <p>Litecoin</p>
          </div>
          <div class="col-4 text-center">
            <p>${{marketAnalyseVM.litecoinTLValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.litecoinTLRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.litecoinTLRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.litecoinTLRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.litecoinTLRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4 text-left">
            <p>Bitcoin Cache</p>
          </div>
          <div class="col-4 text-center">
            <p>${{marketAnalyseVM.bitcoinCashTLValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.bitcoinCashTLRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.bitcoinCashTLRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.bitcoinCashTLRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.bitcoinCashTLRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4 text-left">
            <p>Euro/Dolar</p>
          </div>
          <div class="col-4 text-center">
            <p>{{marketAnalyseVM.euroDolarValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.euroDolarRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.euroDolarRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.euroDolarRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.euroDolarRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4 text-left">
            <p>Blent Petrol</p>
          </div>
          <div class="col-4 text-center">
            <p>${{marketAnalyseVM.brentPetrolDolarValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.brentPetrolDolarRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.brentPetrolDolarRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.brentPetrolDolarRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.brentPetrolDolarRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4 text-left">
            <p>Gümüş Spot</p>
          </div>
          <div class="col-4 text-center">
            <p>${{marketAnalyseVM.gumusSpotDolarValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.gumusSpotDolarRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.gumusSpotDolarRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.gumusSpotDolarRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.gumusSpotDolarRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4 text-left">
            <p>Platin Spot</p>
          </div>
          <div class="col-4 text-center">
            <p>${{marketAnalyseVM.platinSpotDolarValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.platinSpotDolarRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.platinSpotDolarRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.platinSpotDolarRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.platinSpotDolarRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="piyasa-ozeti-content-item">
        <div class="row d-flex align-items-center justify-content-around flex-row">
          <div class="col-4 text-left">
            <p>Paladyum Spot</p>
          </div>
          <div class="col-4 text-center">
            <p>${{marketAnalyseVM.paladyumSpotDolarValueStr}}</p>
          </div>
          <div class="col-4 text-right">
            <p *ngIf="this.marketAnalyseVM.paladyumSpotDolarRateInt >= 0" class="text-success">%
              {{this.marketAnalyseVM.paladyumSpotDolarRateStr}}
              <span>
                <img src="../assets/images/icons/up-icon.svg" alt="">
              </span>
            </p>
            <p *ngIf="this.marketAnalyseVM.paladyumSpotDolarRateInt < 0" class="text-danger">%
              {{this.marketAnalyseVM.paladyumSpotDolarRateStr}}
              <span>
                <img src="../assets/images/icons/down-icon.svg" alt="">
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
