<div class="row">
    <div class="piyasa-ozeti mb-4">
        <div class="piyasa-ozeti-header">
            <h1>Piyasa Özeti</h1>
        </div>
        <div class="piyasa-ozeti-content">
            <div class="piyasa-ozeti-content-item">
            <div class="row">
                <div class="col-md-4 text-left">
                <p>Ethereum</p>
                </div>
                <div class="col-md-4 text-left">
                <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                <p class="text-success">% 0,47
                    <span>
                    <img src="assets/images/icons/up-icon.svg" alt="">
                    </span></p>
                </div>
            </div>
            </div>
            <div class="piyasa-ozeti-content-item">
            <div class="row">
                <div class="col-md-4 text-left">
                <p>Litecoin</p>
                </div>
                <div class="col-md-4 text-left">
                <p>$69,2000 </p>
                </div>
                <div class="col-md-4 text-right">
                <p class="text-success">% 0,47
                    <span>
                    <img src="assets/images/icons/up-icon.svg" alt="">
                    </span></p>
                </div>
            </div>
            </div>
            <div class="piyasa-ozeti-content-item">
            <div class="row">
                <div class="col-md-4 text-left">
                <p>XRP</p>
                </div>
                <div class="col-md-4 text-left">
                <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                <p class="text-danger">% 0,47
                    <span>
                    <img src="assets/images/icons/down-icon.svg" alt="">
                    </span></p>
                </div>
            </div>
            </div>
            <div class="piyasa-ozeti-content-item">
            <div class="row">
                <div class="col-md-4 text-left">
                <p>Euro/Dolar</p>
                </div>
                <div class="col-md-4 text-left">
                <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                <p class="text-success">% 0,47
                    <span>
                    <img src="assets/images/icons/up-icon.svg" alt="">
                    </span></p>
                </div>
            </div>
            </div>
            <div class="piyasa-ozeti-content-item">
            <div class="row">
                <div class="col-md-4 text-left">
                <p>Dolar Endeksi</p>
                </div>
                <div class="col-md-4 text-left">
                <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                <p class="text-danger">% 0,47
                    <span>
                    <img src="assets/images/icons/down-icon.svg" alt="">
                    </span></p>
                </div>
            </div>
            </div>
            <div class="piyasa-ozeti-content-item">

            <div class="row">
                <div class="col-md-4 text-left">
                <p>Brent Petrol</p>
                </div>
                <div class="col-md-4 text-left">
                <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                <p class="text-danger">% 0,47
                    <span>
                    <img src="assets/images/icons/up-icon.svg" alt="">
                    </span></p>
                </div>
            </div>
            </div>

            <div class="piyasa-ozeti-content-item">
            <div class="row">
                <div class="col-md-4 text-left">
                <p>Döviz Sepeti</p>
                </div>
                <div class="col-md-4 text-left">
                <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                <p class="text-success">% 0,47
                    <span>
                    <img src="assets/images/icons/up-icon.svg" alt="">
                    </span></p>
                </div>
            </div>

            </div>
            <div class="piyasa-ozeti-content">
            <div class="piyasa-ozeti-content-item">
                <div class="row">
                <div class="col-md-4 text-left">
                    <p>Ethereum</p>
                </div>
                <div class="col-md-4 text-left">
                    <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                    <p class="text-success">% 0,47
                    <span>
                        <img src="assets/images/icons/up-icon.svg" alt="">
                    </span></p>
                </div>
                </div>
            </div>
            <div class="piyasa-ozeti-content-item">
                <div class="row">
                <div class="col-md-4 text-left">
                    <p>Litecoin</p>
                </div>
                <div class="col-md-4 text-left">
                    <p>$69,2000 </p>
                </div>
                <div class="col-md-4 text-right">
                    <p class="text-success">% 0,47
                    <span>
                        <img src="assets/images/icons/up-icon.svg" alt="">
                    </span></p>
                </div>
                </div>
            </div>
            <div class="piyasa-ozeti-content-item">
                <div class="row">
                <div class="col-md-4 text-left">
                    <p>XRP</p>
                </div>
                <div class="col-md-4 text-left">
                    <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                    <p class="text-danger">% 0,47
                    <span>
                        <img src="assets/images/icons/down-icon.svg" alt="">
                    </span></p>
                </div>
                </div>
            </div>
            <div class="piyasa-ozeti-content-item">
                <div class="row">
                <div class="col-md-4 text-left">
                    <p>Euro/Dolar</p>
                </div>
                <div class="col-md-4 text-left">
                    <p>$10.088,9800</p>
                </div>
                <div class="col-md-4 text-right">
                    <p class="text-success">% 0,47
                    <span>
                        <img src="assets/images/icons/up-icon.svg" alt="">
                    </span></p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>