<navigation-header></navigation-header>
<main class="sub-page">
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <currency-bar></currency-bar>
                </div>
            </div>
        </div>
    </section>
    <section>
        <post-category-header></post-category-header>
        <div class="container-fluid mt-2 information-box">
            <div class="row">
                <div class="container">
                    <p>Bu bölüm, küresel döviz, emtia ve hisse senedi piyasalarındaki son finansal raporları ve son
                        dakika haberlerini içermektedir. Ayrıca emtia, hisse senetleri, faiz oranlarını geniş
                        kapsamlı olarak ve faiz oranları ile ek ekonomik göstergeleri ise çok geniş bir yelpazede
                        bulacaksınız.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row d-flex flex-row align-items-stretch">
                <div class="col-md-8 news-detail">

                    <figure class="figure">
                        <img [src]="post.mainImage" class="figure-img img-fluid rounded"
                            data-toggle="tooltip" data-placement="left" data-html="true" title="<small><strong>ETİKETLER:</strong> </small>
                        <small>Döviz,</small><small>Dolar</small>" alt="...">

                        <figcaption class="figure-caption">A caption for the above image for search engine
                            optimization</figcaption>
                    </figure>

                    <h1 class="news-detail-title">{{post.title}}
                    </h1>

                    <time class="news-detail-time">
                        <svg class='remix'>
                            <use xlink:href="../assets/images/remix-icon/remixicon.symbol.svg#ri-time-line"></use>
                        </svg>
                        27.09.2019 11:17</time>
                    <div [innerHTML]="post.content"></div>
                    <small class="font-weight-bold news-detail-tags-title ">
                        <svg class='remix'>
                            <use xlink:href="../assets/images/remix-icon/remixicon.symbol.svg#ri-price-tag-3-line"></use>
                        </svg>
                        HABER ETİKETLERİ
                    </small>
                    <span class="badge news-detail-tag">Türkiye Tarım Yatırımı</span>
                    <span class="badge news-detail-tag">son dakika haberler</span>
                    <section class="news-detail-comment-section">
                        <div class="row">
                            <div class="col-md-11 news-detail-comment-section-title">
                                <h3>Haber
                                    Yorumlarını Göster</h3>
                            </div>
                            <div class="col-md-1 news-detail-comment-section-icon">
                                <a href="" data-toggle="collapse" data-target="#commets-list" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    <svg class='remix'>
                                        <use xlink:href="../assets/images/remix-icon/remixicon.symbol.svg#ri-eye-close-line">
                                        </use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="commets-list">
                            <div class="row news-detail-comment-section-item">
                                <div class="col-md-1 pt-0 pl-0 pr-0">
                                    <img class="news-detail-comment-section-item-avatar img-fluid rounded-circle"
                                        src="../assets/images/news/avatar/Ellipse.jpg" alt="">
                                </div>
                                <div class="col-md-11">
                                    <p class="news-detail-comment-section-item-user">Enes Kırdemir</p>
                                    <p class="news-detail-comment-section-item-comment">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Quo, suscipit.</p>
                                </div>
                            </div>
                            <div class="row news-detail-comment-section-item">
                                <div class="col-md-1 pt-0 pl-0 pr-0">
                                    <img class="news-detail-comment-section-item-avatar img-fluid rounded-circle"
                                        src="../assets/images/news/avatar/Ellipse.jpg" alt="">
                                </div>
                                <div class="col-md-11">
                                    <p class="news-detail-comment-section-item-user">Enes Kırdemir</p>
                                    <p class="news-detail-comment-section-item-comment">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Soluta architecto ad aut optio ipsa sed esse?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>

                <div class="col-md-4 news-featured-categories">
                    <market-analyse></market-analyse>
                </div>

            </div>
            <news-popular></news-popular>
            <news-latest></news-latest>
        </div>
    </section>
</main>
<footer-dolarnet></footer-dolarnet>