<navigation-header></navigation-header>
<main class="sub-page small-header">
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <currency-bar></currency-bar>
                </div>
            </div>
        </div>
    </section>
    <section>
        <post-category-header></post-category-header>
        <div class="container-fluid mt-2 information-box">
            <div class="row">
                <div class="container">
                    <p>Bu bölüm, küresel döviz, emtia ve hisse senedi piyasalarındaki son finansal raporları ve son
                        dakika haberlerini içermektedir. Ayrıca emtia, hisse senetleri, faiz oranlarını geniş
                        kapsamlı olarak ve faiz oranları ile ek ekonomik göstergeleri ise çok geniş bir yelpazede
                        bulacaksınız.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row d-flex flex-row align-items-stretch">
                <div class="col-md-8 news-detail">

                    <figure class="figure">
                        <img [src]="post.imagePath" class="figure-img img-fluid rounded"
                            data-toggle="tooltip" data-placement="left" data-html="true" title="<small><strong>ETİKETLER:</strong> </small>
                        <small>Döviz,</small><small>Dolar</small>" alt="...">

                        <!-- <figcaption class="figure-caption">A caption for the above image for search engine
                            optimization</figcaption> -->
                    </figure>

                    <h1 class="news-detail-title">{{post.title}}
                    </h1>

                    <time class="news-detail-time">
                        <svg class='remix'>
                            <use xlink:href="../assets/images/remix-icon/remixicon.symbol.svg#ri-time-line"></use>
                        </svg>
                        {{post.publishDate | date :'dd-MM-yyyy'}}</time>
                    <div [innerHTML]="post.content"></div>                    
                    <small class="font-weight-bold news-detail-tags-title ">
                        <svg class='remix'>
                            <use xlink:href="../assets/images/remix-icon/remixicon.symbol.svg#ri-price-tag-3-line"></use>
                        </svg>
                        HABER ETİKETLERİ
                    </small>
                    <span *ngFor="let tag of post.tags" class="badge news-detail-tag">{{tag}}</span>
                    <section class="news-detail-comment-section">
                        <div class="row">
                            <div *ngIf="post.comments" class="col-md-8 news-detail-comment-section-title">
                                <h3>Haber Yorumlarını Göster</h3>
                            </div>
                            <div class="col-md-3" style="text-align: right;">
                                {{post.comments.length}} yorum   
                            </div>
                            <div class="col-md-1 news-detail-comment-section-icon">
                                <a href="" data-toggle="collapse" data-target="#commets-list" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    <svg class='remix'>
                                        <use xlink:href="../assets/images/remix-icon/remixicon.symbol.svg#ri-eye-close-line">
                                        </use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="commets-list">
                            <post-comment [comments]="parentPostComments"></post-comment>
                        </div>
                    </section>
                    <p></p>
                    <div #commentFormDiv class="featured-news-title mt-3 mb-3">
                        <div class="col-md-12">
                            <div class="row">
                                <h1 *ngIf="commentToReply == null">Yorum Yapın</h1>
                                <h1 *ngIf="commentToReply">Cevap Verin</h1>
                                <button *ngIf="commentToReply" mat-button mat-icon-button matSuffix>
                                    <mat-icon class="mb-3" aria-hidden="false" aria-label="Example home icon" (click)="cancelReplyToComment()">cancel</mat-icon>
                                </button>
                            </div>
                            <div *ngIf="isCommentSaved" class="row alert alert-success" role="alert">
                                Yorumunuz kaydedildi!
                            </div>
                        </div>
                    </div>
                    <form name="postCommentForm" [formGroup]="postCommentForm">
                        <div class="form-row" >
                            <div class="form-group col-md-12">
                                <textarea #commentAreatInput class="form-control" id="comment" rows="3" formControlName="comment" placeholder="Yorum" required></textarea>
                            </div>
                        </div>
                        <div class="form-row" *ngIf="_authenticationService.currentUser == null">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="nameSurname" formControlName="nameSurname" placeholder="Ad Soyad" required>
                            </div>
                            <div class="form-group col-md-6">
                              <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-posta" required>
                            </div>
                            <div *ngIf="postCommentForm.get('email').errors?.email && postCommentForm.get('email').invalid 
                                        && (postCommentForm.get('email').touched)"
                                class="alert alert-danger">                                
                                <div>
                                    Geçersiz E-Posta
                                </div>
                            </div>
                        </div>
                            <button type="button" class="btn btn-success btn-block"  
                            (click) = "saveComment(postCommentForm.value)"
                            [disabled]="postCommentForm.invalid">Gönder</button>
                    </form>
                </div>

                <div class="col-md-4 news-featured-categories">
                    <market-analyse></market-analyse>
                </div>

            </div>
            <news-popular></news-popular>
            <news-latest></news-latest>
        </div>
    </section>
</main>
<footer-dolarnet></footer-dolarnet>