<div>
  <div class="currency-converter-title">
    <h3>
      <svg class='remix'>
        <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-swap-line"></use>
      </svg>
      Çeviri - Hesaplama</h3>
  </div>
  <ul class="nav nav-tabs currency-converter-tab d-flex align-content-stretch flex-wrap" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="doviz-cevirici-tab" data-toggle="tab" href="#doviz-cevirici" role="tab"
        aria-controls="doviz-cevirici" aria-selected="true">
        <div class="currency-converter-header">
          <svg class='remix'>
            <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-exchange-dollar-line"></use>
          </svg>
          <p>Döviz</p>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="altin-cevirici-tab" data-toggle="tab" href="#altin-cevirici" role="tab"
        aria-controls="altin-cevirici" aria-selected="false">
        <div class="currency-converter-header">
          <svg class='remix'>
            <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-vip-diamond-line"></use>
          </svg>
          <p>Altın</p>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cripto-cevirici-tab" data-toggle="tab" href="#cripto-cevirici" role="tab"
        aria-controls="cripto-cevirici" aria-selected="false">
        <div class="currency-converter-header">
          <svg class='remix'>
            <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-bit-coin-line"></use>
          </svg>
          <p>Kripto</p>
        </div>
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="doviz-cevirici" role="tabpanel" aria-labelledby="doviz-cevirici-tab">
      <div class="currency-converter-content">
        <div class="form-group d-flex flex-column">
          <div class="input-group mb-3 ">            
            <input type="number" class="form-control" [(ngModel)] ="currencyFirst" placeholder="" aria-label=""
              aria-describedby="basic-addon2" (input)="onTextBoxChangeCurrency('1')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <div class="form-group mb-0">
                    <mat-form-field>
                      <input type="text"
                              placeholder=""
                              aria-label="Number"
                              matInput
                              [formControl]="listBoxCurrency1"
                              [(ngModel)]="currencyTypeFirst"
                              [matAutocomplete]="autoCurr1">
                      <mat-autocomplete #autoCurr1="matAutocomplete" (optionSelected)="onConverterChangeCurrency()">
                          <mat-option *ngFor="let curr of filteredCurrencies1 | async" [value]="curr.adi">
                              <span> {{curr.adi}}</span>
                          </mat-option>                          
                      </mat-autocomplete> 
                      <mat-icon matSuffix class="secondary-text">keyboard_arrow_down</mat-icon>
                  </mat-form-field>
                </div>
              </span>
            </div>
          </div>
          
          <div class="input-group mb-3 ">
            <input type="number" class="form-control" [(ngModel)]="currencySecond" placeholder="" aria-label=""
              aria-describedby="basic-addon2" (input)="onTextBoxChangeCurrency('2')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">
                <div class="form-group mb-0">
                    <mat-form-field>
                      <input type="text"
                              placeholder=""
                              aria-label="Number"
                              matInput
                              [formControl]="listBoxCurrency2"
                              [(ngModel)]="currencyTypeSecond"
                              [matAutocomplete]="autoCurr2">
                      <mat-autocomplete #autoCurr2="matAutocomplete" (optionSelected)="onConverterChangeCurrency()">
                          <mat-option *ngFor="let curr of filteredCurrencies2 | async" [value]="curr.adi">
                              <span> {{curr.adi}}</span>
                          </mat-option>                          
                      </mat-autocomplete> 
                      <mat-icon matSuffix class="secondary-text">keyboard_arrow_down</mat-icon>
                  </mat-form-field>
                </div>
              </span>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="number" class="form-control" [(ngModel)]="currencyThird" placeholder="" aria-label=""
              aria-describedby="basic-addon2" (input)="onTextBoxChangeCurrency('3')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">
                <div class="form-group mb-0">
                    <mat-form-field>
                      <input type="text"
                              placeholder=""
                              aria-label="Number"
                              matInput
                              [formControl]="listBoxCurrency3"
                              [(ngModel)]="currencyTypeThird"
                              [matAutocomplete]="autoCurr3">
                      <mat-autocomplete #autoCurr3="matAutocomplete" (optionSelected)="onConverterChangeCurrency()">
                          <mat-option *ngFor="let curr of filteredCurrencies3 | async" [value]="curr.adi">
                              <span> {{curr.adi}}</span>
                          </mat-option>                          
                      </mat-autocomplete> 
                      <mat-icon matSuffix class="secondary-text">keyboard_arrow_down</mat-icon>
                  </mat-form-field>
                </div>
              </span>
            </div>
          </div>
          <span class="border"></span>

          <div class="d-flex align-items-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioAlis"
              [(ngModel)]="optionAlisSatis" [value]="1" [checked]="optionAlisSatis === _globalConstants.Alis" (change)="onConverterChangeCurrency()">
              <label class="form-check-label" for="inlineRadioAlis">Alış</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioSatis"
              [(ngModel)]="optionAlisSatis" [value]="2" [checked]="optionAlisSatis === _globalConstants.Satis" (change)="onConverterChangeCurrency()">
              <label class="form-check-label" for="inlineRadioSatis">Satış</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="altin-cevirici" role="tabpanel" aria-labelledby="altin-cevirici-tab">
      <div class="currency-converter-content">
        <div class="form-group d-flex flex-column">
          <div class="input-group mb-3">
            <input type="number" class="form-control" [(ngModel)] ="goldFirst" placeholder="" aria-label=""
              aria-describedby="basic-addon2" (input)="onTextBoxChangeGold('1')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <div class="form-group mb-0">
                    <mat-form-field>
                      <input type="text"
                              placeholder=""
                              aria-label="Number"
                              matInput
                              [formControl]="listBoxGold1"
                              [(ngModel)]="goldTypeFirst"
                              [matAutocomplete]="autoGold1">
                      <mat-autocomplete #autoGold1="matAutocomplete" (optionSelected)="onConverterChangeGold()">
                          <mat-option *ngFor="let gold of filteredGolds1 | async" [value]="gold.adi">
                              <span> {{gold.adi}}</span>
                          </mat-option>                          
                      </mat-autocomplete> 
                      <mat-icon matSuffix class="secondary-text">keyboard_arrow_down</mat-icon>
                  </mat-form-field>
                </div>
              </span>
            </div>
          </div>
          
          <div class="input-group mb-3 ">
            <input type="number" class="form-control" [(ngModel)]="goldSecond" placeholder="" aria-label=""
              aria-describedby="basic-addon2" (input)="onTextBoxChangeGold('2')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">
                <div class="form-group mb-0">
                    <mat-form-field>
                      <input type="text"
                              placeholder=""
                              aria-label="Number"
                              matInput
                              [formControl]="listBoxGold2"
                              [(ngModel)]="goldTypeSecond"
                              [matAutocomplete]="autoGold2">
                      <mat-autocomplete #autoGold2="matAutocomplete" (optionSelected)="onConverterChangeGold()">
                          <mat-option *ngFor="let curr of filteredCurrenciesForGolds | async" [value]="curr.adi">
                              <span> {{curr.adi}}</span>
                          </mat-option>                          
                      </mat-autocomplete> 
                      <mat-icon matSuffix class="secondary-text">keyboard_arrow_down</mat-icon>
                  </mat-form-field>
                </div>
              </span>
            </div>
          </div>            
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="cripto-cevirici" role="tabpanel" aria-labelledby="cripto-cevirici-tab">
      <div class="currency-converter-content">
        <div class="form-group d-flex flex-column">
          <div class="input-group mb-3 ">
            <input type="number" class="form-control" [(ngModel)] ="criptoFirst" placeholder="" aria-label=""
              aria-describedby="basic-addon2" (input)="onTextBoxChangeCripto('1')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <div class="form-group mb-0">
                    <mat-form-field>
                      <input type="text"
                              placeholder=""
                              aria-label="Number"
                              matInput
                              [formControl]="listBoxCoin1"
                              [(ngModel)]="criptoTypeFirst"
                              [matAutocomplete]="autoCoin1">
                      <mat-autocomplete #autoCoin1="matAutocomplete" (optionSelected)="onConverterChangeCripto()">
                          <mat-option *ngFor="let coin of filteredCoins1 | async" [value]="coin.adi">
                              <span> {{coin.adi}}</span>
                          </mat-option>                          
                      </mat-autocomplete> 
                      <mat-icon matSuffix class="secondary-text">keyboard_arrow_down</mat-icon>
                  </mat-form-field>
                </div>
              </span>
            </div>
          </div>
          
          <div class="input-group mb-3 ">
            <input type="number" class="form-control" [(ngModel)]="criptoSecond" placeholder="" aria-label=""
              aria-describedby="basic-addon2" (input)="onTextBoxChangeCripto('2')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">
                <div class="form-group mb-0">
                    <mat-form-field>
                      <input type="text"
                              placeholder=""
                              aria-label="Number"
                              matInput
                              [formControl]="listBoxCoin2"
                              [(ngModel)]="criptoTypeSecond"
                              [matAutocomplete]="autoCoin2">
                      <mat-autocomplete #autoCoin2="matAutocomplete" (optionSelected)="onConverterChangeCripto()">
                          <mat-option *ngFor="let coin of filteredCoins2 | async" [value]="coin.adi">
                              <span> {{coin.adi}}</span>
                          </mat-option>                          
                      </mat-autocomplete> 
                      <mat-icon matSuffix class="secondary-text">keyboard_arrow_down</mat-icon>
                  </mat-form-field>
                </div>
              </span>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="number" class="form-control" [(ngModel)]="criptoThird" placeholder="" aria-label=""
              aria-describedby="basic-addon2" (input)="onTextBoxChangeCripto('3')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">
                <div class="form-group mb-0">
                    <mat-form-field>
                      <input type="text"
                              placeholder=""
                              aria-label="Number"
                              matInput
                              [formControl]="listBoxCoin3"
                              [(ngModel)]="criptoTypeThird"
                              [matAutocomplete]="autoCoin3">
                      <mat-autocomplete #autoCoin3="matAutocomplete" (optionSelected)="onConverterChangeCripto()">
                          <mat-option *ngFor="let curr of filteredCurrenciesForCoins | async" [value]="curr.adi">
                              <span> {{curr.adi}}</span>
                          </mat-option>                          
                      </mat-autocomplete> 
                      <mat-icon matSuffix class="secondary-text">keyboard_arrow_down</mat-icon>
                  </mat-form-field>
                </div>
              </span>
            </div>
          </div>                        
        </div>
      </div>
    </div>
  </div>
</div>
