<div class="currency-converter">
    <div class="currency-converter-header">
        <img src="assets/images/icons/doviz-cevirici.svg" alt="">
        <h1>Döviz Çevirici</h1>
      </div>
      
      <div class="currency-converter-content">
        <div class="form-group d-flex flex-column">
          <div class="input-group mb-3 ">
            <input type="number" class="form-control" [(ngModel)] ="currencyFirst" placeholder="" aria-label="Recipient's username"
              aria-describedby="basic-addon2" (input)="onTextBoxChange('1')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <div class="form-group mb-0">
                    <select class="form-control" name="converterFirst" id="converterFirst" [(ngModel)]="currencyTypeFirst" (change)="onConverterChange()">
                        <option *ngFor="let curr of currencies; let j = index" [value]="currencies[j].adi" [selected]="curr.id == '1'">
                            {{curr.adi}}
                        </option>
                    </select>
                </div>
              </span>
            </div>
          </div>
          
          <div class="input-group mb-3 ">
            <input type="number" class="form-control" [(ngModel)]="currencySecond" placeholder="" aria-label="Recipient's username"
              aria-describedby="basic-addon2" (input)="onTextBoxChange('2')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">
                <div class="form-group mb-0">
                    <select class="form-control" name="converterSecond" id="converterSecond" [(ngModel)]="currencyTypeSecond" (change)="onConverterChange()">
                        <option *ngFor="let curr of currencies; let j = index" [value]="currencies[j].adi" [selected]="curr.id == '2'">
                            {{curr.adi}}
                        </option>
                    </select>
                </div>
              </span>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="number" class="form-control" [(ngModel)]="currencyThird" placeholder="" aria-label="Recipient's username"
              aria-describedby="basic-addon2" (input)="onTextBoxChange('3')">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">
                <div class="form-group mb-0">
                    <select class="form-control" name="converterThird" id="converterThird" [(ngModel)]="currencyTypeThird" (change)="onConverterChange()">
                        <option *ngFor="let curr of currencies; let j = index" [value]="currencies[j].adi" [selected]="curr.id == '3'">
                            {{curr.adi}}
                        </option>
                    </select>
                </div>
              </span>
            </div>
          </div>
          <span class="border"></span>


          <div class="d-flex align-items-center justify-content-between ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioAlis"
              [(ngModel)]="optionAlisSatis" [value]="1" [checked]="optionAlisSatis=='1'" (change)="onConverterChange()">
              <label class="form-check-label" for="inlineRadioAlis">Alış</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioSatis"
              [(ngModel)]="optionAlisSatis" [value]="2" [checked]="optionAlisSatis === '2'" (change)="onConverterChange()">
              <label class="form-check-label" for="inlineRadioSatis">Satış</label>
            </div>
          </div>

        </div>

      </div>
</div>