<navigation-header></navigation-header>
<main class="sub-page">
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <currency-bar></currency-bar>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid mt-2 information-box">
            <div class="row">
                <div class="container">
                    <p>Bu bölüm, son borsa verilerini içermektedir.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row d-flex flex-row align-items-stretch">
                <div class="col-md-8 news-detail">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <p>Hisse</p>
                        </div>
                        <div class="col-md-2 text-left">
                            <p>Değer</p>
                        </div>
                        <div class="col-md-2 text-left">
                            <p>Hacim</p>
                        </div>
                        <div class="col-md-2 text-right">
                            <p>Değişim</p>
                        </div>
                    </div>                  
                    <div class="row" *ngFor="let hisse of borsaHisseRates">
                        <div class="col-md-6 text-left">                            
                            <p>{{hisse.text}}</p>
                        </div>
                        <div class="col-md-2 text-left">
                            <p>{{hisse.lastprice}}</p>
                        </div>
                        <div class="col-md-2 text-left">
                            <p>{{hisse.hacim}}</p>
                        </div>
                        <div class="col-md-2 text-right">
                            <p *ngIf ="hisse.rate >= 0" class="text-success">% {{hisse.rate}}
                                <span>
                                    <img src="../assets/images/icons/up-icon.svg" alt="">
                                </span>
                            </p>
                            <p *ngIf ="hisse.rate < 0" class="text-danger">% {{hisse.rate}}
                                <span>
                                    <img src="../assets/images/icons/down-icon.svg" alt="">
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 currency-converter">
                    <converter></converter>
                </div>
            </div>
            <news-latest></news-latest>
        </div>
    </section>
</main>
<footer-dolarnet></footer-dolarnet>