<navigation-header></navigation-header>
<main class="sub-page">
  <section class="hero-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="container mt-4">
          <currency-bar></currency-bar>
        </div>
      </div>
    </div>
  </section>
  <section class="content">

    <div class="container">
      <div class="row row d-flex flex-row align-items-stretch">
        <div class="col-md-8 bg-light rounded news-detail">
          <div class="row">
            <div class="col-12 mt-3 mb-4">
              <img class="img-fluid rounded shadow-sm" src="/assets/images/header-banners/kripto-header.jpg" alt="">
              <svg class='remix mt-2'>
                <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-exchange-dollar-line"></use>
              </svg>
              <h1>Tüm Hisse Senetleri
              </h1>
              <p class="font-weight-normal">Bu bölüm, son borsa hisse verilerini içermektedir.</p>
            </div>
            <table class="table">
              <thead>
                <tr>

                  <th scope="col">Birim</th>
                  <th scope="col">Satış ($)</th>
                  <th scope="col">Satış (&#8378;)</th>
                  <th>Değişim</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>

                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>

                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                 
                  <tbody>
                    <tr class="align-middle" *ngFor="let hisse of borsaHisseRates">
                      <td class="col-5">
                        {{hisse.text}}
                      </td>
                      <td class="col-1">
                        {{hisse.lastprice}}
                      </td>
                      <td class="col-1">
                        {{hisse.hacim}}
                      </td>
                      <td class="col-5">
                        <p *ngIf="hisse.rate >= 0" class="text-success">% {{hisse.rate}}
                          <span>
                            <img src="../assets/images/icons/up-icon.svg" alt="">
                          </span>
                        </p>
                        <p *ngIf="hisse.rate < 0" class="text-danger">% {{hisse.rate}}
                          <span>
                            <img src="../assets/images/icons/down-icon.svg" alt="">
                          </span>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 currency-converter  align-self-start">
          <converter></converter>
        </div>
      </div>
      <news-latest></news-latest>
    </div>
  </section>
</main>
<footer-dolarnet></footer-dolarnet>
