<header>
    <div class="container-fluid main-menu">
        <div class="row">
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light w-100">
            <a class="navbar-brand text-white" href="#">DOLAR.NET</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Döviz </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Altın</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pariteler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kripto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Paralar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Borsa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Haberler</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li> -->
                </ul>
                <div class="mr-0">
                <a name="" id="" class="btn btn-light header-register-btn" href="#" role="button">
                    <span>
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M11 0C4.9348 0 0 4.9348 0 11C0 17.0652 4.9348 22 11 22C17.0652 22 22 17.0652 22 11C22 4.9348 17.0652 0 11 0ZM11 1.69231C16.1496 1.69231 20.3077 5.85036 20.3077 11C20.3077 16.1496 16.1496 20.3077 11 20.3077C5.85036 20.3077 1.69231 16.1496 1.69231 11C1.69231 5.85036 5.85036 1.69231 11 1.69231ZM11 4.23077C8.67308 4.23077 6.76923 6.13462 6.76923 8.46154C6.76923 9.74399 7.36749 10.8843 8.27644 11.6611C6.3726 12.6493 5.07692 14.6391 5.07692 16.9231H6.76923C6.76923 14.5763 8.65324 12.6923 11 12.6923C13.3468 12.6923 15.2308 14.5763 15.2308 16.9231H16.9231C16.9231 14.6391 15.6274 12.6493 13.7236 11.6611C14.6325 10.8843 15.2308 9.74399 15.2308 8.46154C15.2308 6.13462 13.3269 4.23077 11 4.23077ZM11 5.92308C12.4114 5.92308 13.5385 7.05018 13.5385 8.46154C13.5385 9.8729 12.4114 11 11 11C9.58864 11 8.46154 9.8729 8.46154 8.46154C8.46154 7.05018 9.58864 5.92308 11 5.92308Z"
                        fill="#414649" />
                    </svg>

                    </span>
                    ÜCRETSİZ ÜYE OL</a>
                <a name="" id="" class="ml-5" href="#" role="button">
                    <span>
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C12.3965 20 14.5974 19.149 16.3223 17.7363L22.293 23.707C22.3851 23.803 22.4955 23.8796 22.6176 23.9324C22.7397 23.9852 22.8712 24.0131 23.0042 24.0144C23.1373 24.0158 23.2692 23.9906 23.3924 23.9403C23.5156 23.89 23.6275 23.8157 23.7216 23.7216C23.8157 23.6275 23.89 23.5156 23.9403 23.3924C23.9906 23.2692 24.0158 23.1373 24.0144 23.0042C24.0131 22.8712 23.9852 22.7397 23.9324 22.6176C23.8796 22.4955 23.803 22.3851 23.707 22.293L17.7363 16.3223C19.149 14.5974 20 12.3965 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2Z"
                        fill="white" />
                    </svg>

                    </span>
                </a>
                
                </div>
                <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
            </nav>
        </div>
        </div>
    </div>
</header>
<main>
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col">
                        <div class="hero-bar-currency">
                            <div class="hero-bar-currency-type">
                            <span>
                                USD/TL
                            </span>
                            </div>
                            <div class="hero-bar-currency-price">
                            <span>5,7721</span>
                            </div>
                            <div class="hero-bar-currency-state">
                            <span>%0,17 </span>
                            <span>
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.13424 0.195405L0.196769 6.13287C-0.223524 6.55317 0.0741444 7.2718 0.668529 7.2718L12.5435 7.2718C13.1379 7.2718 13.4355 6.55317 13.0152 6.13288L7.07776 0.195405C6.81721 -0.0651403 6.39478 -0.0651404 6.13424 0.195405Z"
                                    fill="#27AE60" />
                                </svg>

                            </span>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                        <div class="hero-bar-currency">
                            <div class="hero-bar-currency-type">
                            <span>
                                USD/TL
                            </span>
                            </div>
                            <div class="hero-bar-currency-price">
                            <span>5,7721</span>
                            </div>
                            <div class="hero-bar-currency-state">
                            <span>%0,17 </span>
                            <span>
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.07774 7.0764L13.0152 1.13893C13.4355 0.718636 13.1378 0 12.5434 0L0.668505 2.10893e-07C0.0741211 2.10893e-07 -0.223546 0.718636 0.196747 1.13893L6.13422 7.0764C6.39476 7.33694 6.81719 7.33694 7.07774 7.0764Z"
                                    fill="#EB0000" />
                                </svg>

                            </span>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                        <div class="hero-bar-currency">
                            <div class="hero-bar-currency-type">
                            <span>
                                USD/TL
                            </span>
                            </div>
                            <div class="hero-bar-currency-price">
                            <span>5,7721</span>
                            </div>
                            <div class="hero-bar-currency-state">
                            <span>%0,17 </span>
                            <span>
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.13424 0.195405L0.196769 6.13287C-0.223524 6.55317 0.0741444 7.2718 0.668529 7.2718L12.5435 7.2718C13.1379 7.2718 13.4355 6.55317 13.0152 6.13288L7.07776 0.195405C6.81721 -0.0651403 6.39478 -0.0651404 6.13424 0.195405Z"
                                    fill="#27AE60" />
                                </svg>

                            </span>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                        <div class="hero-bar-currency">
                            <div class="hero-bar-currency-type">
                            <span>
                                USD/TL
                            </span>
                            </div>
                            <div class="hero-bar-currency-price">
                            <span>5,7721</span>
                            </div>
                            <div class="hero-bar-currency-state">
                            <span>%0,17 </span>
                            <span>
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.13424 0.195405L0.196769 6.13287C-0.223524 6.55317 0.0741444 7.2718 0.668529 7.2718L12.5435 7.2718C13.1379 7.2718 13.4355 6.55317 13.0152 6.13288L7.07776 0.195405C6.81721 -0.0651403 6.39478 -0.0651404 6.13424 0.195405Z"
                                    fill="#27AE60" />
                                </svg>

                            </span>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                        <div class="hero-bar-currency">
                            <div class="hero-bar-currency-type">
                            <span>
                                USD/TL
                            </span>
                            </div>
                            <div class="hero-bar-currency-price">
                            <span>5,7721</span>
                            </div>
                            <div class="hero-bar-currency-state">
                            <span>%0,17 </span>
                            <span>
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.13424 0.195405L0.196769 6.13287C-0.223524 6.55317 0.0741444 7.2718 0.668529 7.2718L12.5435 7.2718C13.1379 7.2718 13.4355 6.55317 13.0152 6.13288L7.07776 0.195405C6.81721 -0.0651403 6.39478 -0.0651404 6.13424 0.195405Z"
                                    fill="#27AE60" />
                                </svg>
                            </span>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                        <div class="hero-bar-currency">
                            <div class="hero-bar-currency-type">
                            <span>
                                USD/TL
                            </span>
                            </div>
                            <div class="hero-bar-currency-price">
                            <span>5,7721</span>
                            </div>
                            <div class="hero-bar-currency-state">
                            <span>%0,17 </span>
                            <span>
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.07774 7.0764L13.0152 1.13893C13.4355 0.718636 13.1378 0 12.5434 0L0.668505 2.10893e-07C0.0741211 2.10893e-07 -0.223546 0.718636 0.196747 1.13893L6.13422 7.0764C6.39476 7.33694 6.81719 7.33694 7.07774 7.0764Z"
                                    fill="#EB0000" />
                                </svg>

                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row row d-flex flex-row align-items-stretch">
                        <div class="col-md-8">

                        <div class="home-news-carousel">
                            <div id="sync1" class="owl-carousel owl-theme ">
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">Asgari Ücret Tespit Komisyonu 2 Aralık'ta
                                toplanıyor </a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">Sigorta şirketleri dokuz ayda 29.1 milyar lira
                                tazminat üstlendi </a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>

                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">OPEC Petrol Sepeti varili 63.68 dolara
                                yükseldi</a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">Xi Jinping'den korkusuz açıklama </a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">Ayakkabı ihracatı %5,8 artışla 816 milyon doları
                                aştı </a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">10 ayda 69 bin 478 şirket ve kooperatif kuruldu
                                </a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">BDDK'nın bazı yetkileri Merkez Bankası'na
                                devrediliyor
                                </a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">BIST100 % 0,28 artışla başladı
                                </a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">Draghi enflasyon hedefinde 'birlik' istedi</a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            <div class="item home-news-carousel-item">
                                <a href="#" class="home-news-carousel-item-title">Serbest piyasada döviz açılış fiyatları </a>
                                <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
                            </div>
                            </div>

                            <div id="sync2" class="owl-carousel owl-theme home-news-carousel-count">
                            <div class="item">
                                <h1>1</h1>
                            </div>
                            <div class="item">
                                <h1>2</h1>
                            </div>
                            <div class="item">
                                <h1>3</h1>
                            </div>
                            <div class="item">
                                <h1>4</h1>
                            </div>
                            <div class="item">
                                <h1>5</h1>
                            </div>
                            <div class="item">
                                <h1>6</h1>
                            </div>
                            <div class="item">
                                <h1>7</h1>
                            </div>
                            <div class="item">
                                <h1>8</h1>
                            </div>
                            <div class="item">
                                <h1>9</h1>
                            </div>
                            <div class="item">
                                <h1>10</h1>
                            </div>
                            </div>
                        </div>

                        </div>

                        <div class="col-md-4 currency-converter">
                        <div class="currency-converter-header">
                            <img src="assets/images/icons/doviz-cevirici.svg" alt="">
                            <h1>Döviz Çevirici</h1>
                        </div>
                        <div class="currency-converter-content">
                            <div class="form-group d-flex flex-column">
                            <div class="input-group mb-3 ">
                                <input type="number" class="form-control" placeholder="1" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">TRY</span>
                                </div>
                            </div>
                            <div class="input-group mb-3 ">
                                <input type="number" class="form-control" placeholder="6,231" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">EUR</span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="5,631" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">USD</span>
                                </div>
                            </div>
                            <span class="border"></span>
                            <div class="currency-box mt-3 d-flex align-items-center justify-content-between">
                                <div>
                                <div class="dropdown">
                                    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span> <img src="assets/images/icons/euro-icon.svg" alt=""><span>EUR</span></span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#"><img src="assets/images/icons/dollar-icon.svg"
                                        alt=""><span>USD</span>
                                    </a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/icons/dollar-icon.svg"
                                        alt=""><span>USD</span>
                                    </a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/icons/dollar-icon.svg"
                                        alt=""><span>USD</span>
                                    </a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/icons/dollar-icon.svg"
                                        alt=""><span>USD</span>
                                    </a>

                                    </div>
                                </div>
                                </div>
                                <div>
                                <a href="">
                                    <img src="assets/images/icons/exchange-icon.svg" alt="">
                                </a>
                                </div>
                                <div>
                                <div class="dropdown">
                                    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span> <img src="assets/images/icons/dollar-icon.svg" alt=""><span>USD</span></span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#"><img src="assets/images/icons/dollar-icon.svg"
                                        alt=""><span>USD</span>
                                    </a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/icons/dollar-icon.svg"
                                        alt=""><span>USD</span>
                                    </a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/icons/dollar-icon.svg"
                                        alt=""><span>USD</span>
                                    </a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/icons/dollar-icon.svg"
                                        alt=""><span>USD</span>
                                    </a>

                                    </div>
                                </div>

                                </div>

                            </div>
                            
                            <div class="d-flex align-items-center justify-content-between ">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Alış</label>
                                </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Satış</label>
                                </div>
                            </div>

                            </div>

                        </div>
                        </div>

                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8">
                        <div class="home-news-list mb-4">
                            <div class="row">
                            <div class="col-md-6 d-flex align-items-start home-news-list-item">
                                <div>
                                <img class="home-news-list-item-featured-image" src="assets/images/news/news-featured-image01.jpg"
                                    alt="">
                                </div>
                                <div class="ml-2">
                                <a class="home-news-list-item-title" href="#">TCMB’nin PPK Kararları Kritik Olabilir!</a>
                                <p class="home-news-list-item-date">13.08.2019</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-start home-news-list-item">
                                <div>
                                <img class="home-news-list-item-featured-image" src="assets/images/news/news-featured-image02.jpg"
                                    alt="">
                                </div>
                                <div class="ml-2">
                                <a class="home-news-list-item-title" href="#">ABD ve Çin'den Piyasaları Destekleyici Adımlar</a>
                                <p class="home-news-list-item-date">13.08.2019</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-start home-news-list-item">
                                <div>
                                <img class="home-news-list-item-featured-image" src="assets/images/news/news-featured-image03.jpg"
                                    alt="">
                                </div>
                                <div class="ml-2">
                                <a class="home-news-list-item-title" href="#">ABD’de Petrol Sondaj Kulesi Sayısı Arttı</a>
                                <p class="home-news-list-item-date">13.08.2019</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-start home-news-list-item">
                                <div>
                                <img class="home-news-list-item-featured-image" src="assets/images/news/news-featured-image04.jpg"
                                    alt="">
                                </div>
                                <div class="ml-2">
                                <a class="home-news-list-item-title" href="#">OPEC küresel ekonomik büyüme beklentilerini
                                    düşürdü</a>
                                <p class="home-news-list-item-date">13.08.2019</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-start home-news-list-item">
                                <div>
                                <img class="home-news-list-item-featured-image" src="assets/images/news/news-featured-image05.jpg"
                                    alt="">
                                </div>
                                <div class="ml-2">
                                <a class="home-news-list-item-title" href="#">Piyasa hacmi 250 milyar doların üzerinde</a>
                                <p class="home-news-list-item-date">13.08.2019</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-start home-news-list-item">
                                <div>
                                <img class="home-news-list-item-featured-image" src="assets/images/news/news-featured-image06.jpg"
                                    alt="">
                                </div>
                                <div class="ml-2">
                                <a class="home-news-list-item-title" href="#">TEB’den enflasyona endeksli lira bazlı vadeli
                                    mevduat</a>
                                <p class="home-news-list-item-date">13.08.2019</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-start home-news-list-item">
                                <div>
                                <img class="home-news-list-item-featured-image" src="assets/images/news/news-featured-image01.jpg"
                                    alt="">
                                </div>
                                <div class="ml-2">
                                <a class="home-news-list-item-title" href="#">TCMB’nin PPK Kararları Kritik Olabilir!</a>
                                <p class="home-news-list-item-date">13.08.2019</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-start home-news-list-item">
                                <div>
                                <img class="home-news-list-item-featured-image" src="assets/images/news/news-featured-image02.jpg"
                                    alt="">
                                </div>
                                <div class="ml-2">
                                <a class="home-news-list-item-title" href="#">ABD ve Çin'den Piyasaları Destekleyici Adımlar</a>
                                <p class="home-news-list-item-date">13.08.2019</p>
                                </div>
                            </div>
                            </div>
                        </div>

                        </div>
                        <div class="col-md-4">
                        <div class="row">

                            <div class="piyasa-ozeti mb-4">
                            <div class="piyasa-ozeti-header">
                                <h1>Piyasa Özeti</h1>
                            </div>
                            <div class="piyasa-ozeti-content">
                                <div class="piyasa-ozeti-content-item">
                                <div class="row">
                                    <div class="col-md-4 text-left">
                                    <p>Ethereum</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                    <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                    <p class="text-success">% 0,47
                                        <span>
                                        <img src="assets/images/icons/up-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                </div>
                                </div>
                                <div class="piyasa-ozeti-content-item">
                                <div class="row">
                                    <div class="col-md-4 text-left">
                                    <p>Litecoin</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                    <p>$69,2000 </p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                    <p class="text-success">% 0,47
                                        <span>
                                        <img src="assets/images/icons/up-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                </div>
                                </div>
                                <div class="piyasa-ozeti-content-item">
                                <div class="row">
                                    <div class="col-md-4 text-left">
                                    <p>XRP</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                    <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                    <p class="text-danger">% 0,47
                                        <span>
                                        <img src="assets/images/icons/down-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                </div>
                                </div>
                                <div class="piyasa-ozeti-content-item">
                                <div class="row">
                                    <div class="col-md-4 text-left">
                                    <p>Euro/Dolar</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                    <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                    <p class="text-success">% 0,47
                                        <span>
                                        <img src="assets/images/icons/up-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                </div>
                                </div>
                                <div class="piyasa-ozeti-content-item">
                                <div class="row">
                                    <div class="col-md-4 text-left">
                                    <p>Dolar Endeksi</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                    <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                    <p class="text-danger">% 0,47
                                        <span>
                                        <img src="assets/images/icons/down-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                </div>
                                </div>
                                <div class="piyasa-ozeti-content-item">

                                <div class="row">
                                    <div class="col-md-4 text-left">
                                    <p>Brent Petrol</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                    <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                    <p class="text-danger">% 0,47
                                        <span>
                                        <img src="assets/images/icons/up-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                </div>
                                </div>

                                <div class="piyasa-ozeti-content-item">
                                <div class="row">
                                    <div class="col-md-4 text-left">
                                    <p>Döviz Sepeti</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                    <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                    <p class="text-success">% 0,47
                                        <span>
                                        <img src="assets/images/icons/up-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                </div>

                                </div>
                                <div class="piyasa-ozeti-content">
                                <div class="piyasa-ozeti-content-item">
                                    <div class="row">
                                    <div class="col-md-4 text-left">
                                        <p>Ethereum</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                        <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p class="text-success">% 0,47
                                        <span>
                                            <img src="assets/images/icons/up-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                    </div>
                                </div>
                                <div class="piyasa-ozeti-content-item">
                                    <div class="row">
                                    <div class="col-md-4 text-left">
                                        <p>Litecoin</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                        <p>$69,2000 </p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p class="text-success">% 0,47
                                        <span>
                                            <img src="assets/images/icons/up-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                    </div>
                                </div>
                                <div class="piyasa-ozeti-content-item">
                                    <div class="row">
                                    <div class="col-md-4 text-left">
                                        <p>XRP</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                        <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p class="text-danger">% 0,47
                                        <span>
                                            <img src="assets/images/icons/down-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                    </div>
                                </div>
                                <div class="piyasa-ozeti-content-item">
                                    <div class="row">
                                    <div class="col-md-4 text-left">
                                        <p>Euro/Dolar</p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                        <p>$10.088,9800</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p class="text-success">% 0,47
                                        <span>
                                            <img src="assets/images/icons/up-icon.svg" alt="">
                                        </span></p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>



                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
        <div class="container">
            <div class="row">
            <div class="col-md-6 footer-links d-flex flex-row justify-content-between align-items-start">
                <div class="d-flex flex-column">
                <a href="" class="footer-links-top">BORSA</a>
                <a href="" class="footer-links-default">Günün Özeti</a>
                <a href="" class="footer-links-default">Hisse Fiyatları</a>
                <a href="" class="footer-links-default">Geçmiş Kapanışlar </a>
                <a href="" class="footer-links-default">Canlı Borsa </a>
                <a href="" class="footer-links-default">Ençok Artan/Azalanlar </a>
                <a href="" class="footer-links-default">Endeksler </a>
                <a href="" class="footer-links-default">Dünya Borsaları </a>
                <a href="" class="footer-links-default">Raporlar </a>

                </div>
                <div class="d-flex flex-column">
                <a href="" class="footer-links-top">BORSA</a>
                <a href="" class="footer-links-default">Günün Özeti</a>
                <a href="" class="footer-links-default">Hisse Fiyatları</a>
                <a href="" class="footer-links-default">Geçmiş Kapanışlar </a>
                <a href="" class="footer-links-default">Canlı Borsa </a>
                <a href="" class="footer-links-default">Ençok Artan/Azalanlar </a>
                <a href="" class="footer-links-default">Endeksler </a>
                <a href="" class="footer-links-default">Dünya Borsaları </a>
                <a href="" class="footer-links-default">Raporlar </a>

                </div>
                <div class="d-flex flex-column">
                <a href="" class="footer-links-top">BORSA</a>
                <a href="" class="footer-links-default">Günün Özeti</a>
                <a href="" class="footer-links-default">Hisse Fiyatları</a>
                <a href="" class="footer-links-default">Geçmiş Kapanışlar </a>
                <a href="" class="footer-links-default">Canlı Borsa </a>
                <a href="" class="footer-links-default">Ençok Artan/Azalanlar </a>
                <a href="" class="footer-links-default">Endeksler </a>
                <a href="" class="footer-links-default">Dünya Borsaları </a>
                <a href="" class="footer-links-default">Raporlar </a>

                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-start">
                <div class="d-flex flex-column justify-content-end align-items-end">
                <div class="footer-social mb-3">
                    <a href="">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M40 20C40 31.0469 31.0469 40 20 40C8.95312 40 0 31.0469 0 20C0 8.95312 8.95312 0 20 0C31.0469 0 40 8.95312 40 20Z"
                        fill="#3F51B5" />
                        <path
                        d="M25.3672 20H22V32H17V20H14V16H17V13.5898C17.0039 10.082 18.4609 8 22.5938 8H26V12H23.7148C22.1055 12 22 12.6016 22 13.7227V16H26L25.3672 20Z"
                        fill="white" />
                    </svg>

                    </a>
                    <a href="">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M40 20C40 31.0469 31.0469 40 20 40C8.95312 40 0 31.0469 0 20C0 8.95312 8.95312 0 20 0C31.0469 0 40 8.95312 40 20Z"
                        fill="#03A9F4" />
                        <path
                        d="M32 13.1211C31.1172 13.5117 30 13.8789 29 14C30.0195 13.3945 31.6328 12.1367 32 11C31.0508 11.5586 29.3281 12.1562 28.207 12.3711C27.3125 11.4219 26.0312 11 24.6172 11C21.8984 11 20 13.3047 20 16V18C16 18 12.1016 14.9531 9.67188 12C9.24609 12.7227 9.00781 13.5664 9.00781 14.457C9.00781 16.2773 10.6758 18.1211 12 19C11.1914 18.9766 9.66406 18.3594 9 18C9 18.0156 9 18.0352 9 18.0586C9 20.4258 10.6602 22.0312 12.9102 22.4805C12.5 22.5938 12 23 10.0703 23C10.6992 24.9336 13.8438 25.957 16 26C14.3125 27.3086 11.3086 28 9 28C8.60156 28 8.38672 28.0234 8 27.9766C10.1797 29.3555 13.2188 30 16 30C25.0586 30 30 23.082 30 16.6289C30 16.418 29.9922 15.707 29.9805 15.5C30.9492 14.8164 31.3438 14.1055 32 13.1211Z"
                        fill="white" />
                    </svg>

                    </a>
                </div>


                <div class="mb-1">
                    <a href="">Şartlar ve Koşullar</a>
                    <a href="">Gizlilik Politikası</a>
                    <a href="">Risk Uyarısı</a>
                </div>
                <div>
                    <p class="text-white font-weight-bold">Copyright 2019 © Dolar.net</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container-fluid legal-notice">
        <div class="row">
        <div class="container">

            <strong>Yasal Uyarı Notu </strong>
            <p>© BİST Verileri Foreks tarafından 15 dakika gecikmeli sağlanmaktadır.</p>
            <p>BIST piyasalarında oluşan tüm verilere ait telif hakları tamamen BIST'e ait olup, bu veriler tekrar
            yayınlanamaz. Pay Piyasası, Borçlanma Araçları Piyasası, Vadeli İşlem ve Opsiyon Piyasası verileri BIST
            kaynaklı en az 15 dakika gecikmeli verilerdir.</p>
            <strong>Veri Sağlayıcı Uyarı Notu</strong>
            <p>
            *(Veriler FOREKS Bilgi İletişim Hizmetleri A.Ş. tarafından sağlanmaktadır)

            </p>
            <p>Foreks tarafından sağlanan Pay Piyasası, Borçlanma Araçları Piyasası, Vadeli İşlem ve Opsiyon Piyasası
            verileri BIST kaynaklı en az 15 dakika gecikmeli verilerdir. BIST isim ve logosu Koruma Marka Belgesi
            altında korunmakta olup izinsiz kullanılamaz, iktibas edilemez, değiştirilemez. BIST ismi altında
            açıklanan tüm belgelerin telif hakları tamamen BIST'ye ait olup, tekrar yayınlanamaz. BIST, verinin
            sekansı, doğruluğu ve tamlığı konusunda herhangi bir garanti vermez. Veri yayınında oluşabilecek
            aksaklıklar, verinin ulaşmaması, gecikmesi, eksik ulaşması, yanlış olması, veri yayın sistemindeki
            perfomansın düşmesi veya kesintili olması gibi hallerde Alıcı, Alt Alıcı ve / veya Kullanıcılarda
            oluşabilecek herhangi bir zarardan BIST sorumlu değildir.
            </p>
            <strong>
            * Uluslarası döviz piyasası kuru
            </strong>
        </div>
        </div>
    </div>
</footer>