<navigation-header></navigation-header>
<main class="sub-page small-header">
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <currency-bar></currency-bar>
                </div>
            </div>
        </div>
    </section>
    <section>
        <post-category-header></post-category-header>
        <div class="container-fluid mt-2 information-box">
            <div class="row">
                <div class="container">
                    <p>Bu bölüm, küresel döviz, emtia ve hisse senedi piyasalarındaki son finansal raporları ve son
                        dakika haberlerini içermektedir. Ayrıca emtia, hisse senetleri, faiz oranlarını geniş
                        kapsamlı olarak ve faiz oranları ile ek ekonomik göstergeleri ise çok geniş bir yelpazede
                        bulacaksınız.</p>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row row d-flex flex-row align-items-stretch">
                <div class="col-md-8">
                    <slider></slider>
                </div>
                <div class="col-md-4">
                    <news-category-box></news-category-box>
                </div>                                 
            </div>
            <news-popular></news-popular>
            <news-latest></news-latest>
        </div>
    </section>
</main>
<footer-dolarnet></footer-dolarnet>