.login {
    .row {
        height: 100vh;

        .col-md-9 {

            .row {
                background: url('assets/images/login/login-bg.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: flex-start;

                .content {
                    margin-left: 10rem;
                    margin-top: auto;
                    margin-bottom: auto;

                    h1 {
                        color: #fff;
                        line-height: 1rem;
                    }

                    h4 {
                        color: #fff;
                    }
                }

            }
        }

        .col-md-3 {
            background-color: #F6F5F1;
            padding: 2rem 3rem;

            p.or {
                font-size: .8rem;
                text-align: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                margin-bottom: 0;
                position: relative;

                &::before {
                    position: absolute;
                    display: inline-block;
                    content: "";
                    height: 1px;
                    width: 45%;
                    background-color: #404649;
                    right: 0;
                    top: 25px;

                }

                &::after {
                    position: absolute;
                    display: inline-block;
                    content: "";
                    height: 1px;
                    width: 45%;
                    background-color: #404649;
                    left: 0;
                    top: 25px;

                }
            }

            input {
                font-size: 17px;
                border: 0;
                height: 60px;

            }

            a {
                text-decoration: none;
                color: currentColor;

                &:hover {
                    text-decoration: none;
                    color: currentColor;
                }
            }

            h1 {
                font-weight: 500;
                font-size: 32px;
                line-height: 41px;
                color: #414649;


            }

            p {
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;

                display: block;
                color: #414649;
            }

            small {

                text-align: center;
                display: block;
                color: #414649;


            }

            .btn {
                padding: 15px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;



                &-secondary {
                    background-color: #404649;
                    text-align: left;
                    color: #fff;
                    font-size: 1rem;

                    svg {
                        float: right;
                    }

                    &:hover {
                        color: #fff;
                    }
                }

                &-success {
                    background-color: #00A268;
                    text-align: left;
                    color: #fff;
                    font-size: 1rem;

                    svg {
                        float: right;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}