.breadcrumb {
 display: inline-block;
  @include media-breakpoint-down(md) {
    text-align: center;
    width: 100%;
    min-width: 100%;
    display: block;
  }

  &-item {
    display: inline-block;
    a {
      color: currentColor;
    }

    &.active {
      color: currentColor;
      font-weight: 600;
    }
  }
}

.profile-bar-right-menu {
  a {
    margin-left: 1rem;
  }
}

.nav-link.active {
  color: $doviz-color-2 !important;
  font-weight: 600;
  background-color: #fff;
  border-color: #239e6c #239e6c #fff !important;
}

.profile-tab-content {
  li {
    a {
      &.active {
        li {
          background-color: red;
        }
      }
    }
  }
}
