<navigation-header></navigation-header>
<main class="sub-page">
    <section class="hero-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="container mt-4">
                    <currency-bar></currency-bar>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid mt-2 information-box">
            <div class="row">
                <div class="container">
                    <p>Bu bölüm, son cripto para verilerini içermektedir.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row d-flex flex-row align-items-stretch">
                <div class="col-md-8 news-detail">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <p>Birim</p>
                        </div>
                        <div class="col-md-2 text-left">
                            <p>Satış ($)</p>
                        </div>
                        <div class="col-md-2 text-left">
                            <p class="simge-tl">Satış (&#8378;)</p>
                        </div>
                        <div class="col-md-2 text-right">
                            <p>Değişim</p>
                        </div>
                    </div>                  
                    <div class="row" *ngFor="let coin of criptoRates">
                        <div class="col-md-6 text-left">                            
                            <p><img [src]="getCriptoFlagCss(coin.code)"> {{coin.code}} - {{coin.name}}</p>
                        </div>
                        <div class="col-md-2 text-left">
                        <p>{{coin.price}}</p>
                        </div>
                        <div class="col-md-2 text-left">
                            <p>{{getConvertedToTry(coin.price)}}</p>
                        </div>
                        <div class="col-md-2 text-right">
                            <p *ngIf ="coin.changeDay >= 0" class="text-success">% {{coin.changeDay}}
                                <span>
                                    <img src="../assets/images/icons/up-icon.svg" alt="">
                                </span>
                            </p>
                            <p *ngIf ="coin.changeDay < 0" class="text-danger">% {{coin.changeDay}}
                                <span>
                                    <img src="../assets/images/icons/down-icon.svg" alt="">
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 currency-converter">
                    <converter></converter>
                </div>
            </div>
            <div class="featured-news-title mt-5 mb-3">
                <div class="col-md-12">
                    <div class="row">
                        <h1>En Son Haberler</h1>
                    </div>
                </div>
            </div>
            <div class="row news-list">
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="../assets/images/news/news-featured-image06.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="../assets/images/news/news-featured-image03.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="../assets/images/news/news-featured-image02.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>

                    </a>
                </div>
                <div class="col-md-3 news-list-item">
                    <a href="">
                        <img src="../assets/images/news/news-featured-image01.jpg" class="img-fluid rounded w-100" alt="">
                        <p class="home-news-list-item-date">13.08.2019</p>
                        <p>Meksika piyasaları kapanışta düştü; S&P/BMV IPC 0,30% değer kaybetti</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer-dolarnet></footer-dolarnet>