body { background-color: #aacccc }
.slick-list{
	position: absolute;
    z-index: 1111;
    bottom: 0px;
}
.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }






.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: #fff
}

