<div class="home-news-carousel">
        <div id="sync1" class="owl-carousel owl-theme">
            <div class="item home-news-carousel-item">
                <a *ngIf="post1" href="#" [routerLink]="['/news-detail', post1.id]" class="home-news-carousel-item-title">{{post1.title}} </a>
                <img *ngIf="post1" [src]="_globalConstants.siteUrl + post1.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post2" href="#" [routerLink]="['/news-detail', post2.id]" class="home-news-carousel-item-title">{{post2.title}} </a>
                <img *ngIf="post2" [src]="_globalConstants.siteUrl + post2.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post3" href="#" [routerLink]="['/news-detail', post3.id]" class="home-news-carousel-item-title">{{post3.title}}</a>
                <img *ngIf="post3" [src]="_globalConstants.siteUrl + post3.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post4" href="#" [routerLink]="['/news-detail', post4.id]" class="home-news-carousel-item-title">{{post4.title}} </a>
                <img *ngIf="post4" [src]="_globalConstants.siteUrl + post4.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post5" href="#" [routerLink]="['/news-detail', post5.id]" class="home-news-carousel-item-title">{{post5.title}} </a>
                <img *ngIf="post5" [src]="_globalConstants.siteUrl + post5.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post6" href="#" [routerLink]="['/news-detail', post6.id]" class="home-news-carousel-item-title">{{post6.title}}
                </a>
                <img *ngIf="post6" [src]="_globalConstants.siteUrl + post6.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post7" href="#" [routerLink]="['/news-detail', post7.id]" class="home-news-carousel-item-title">{{post7.title}}
                </a>
                <img *ngIf="post7" [src]="_globalConstants.siteUrl + post7.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post8" href="#" [routerLink]="['/news-detail', post8.id]" class="home-news-carousel-item-title">{{post8.title}}
                </a>
                <img *ngIf="post8" [src]="_globalConstants.siteUrl + post8.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post9" href="#" [routerLink]="['/news-detail', post9.id]" class="home-news-carousel-item-title">{{post9.title}}</a>
                <img *ngIf="post9" [src]="_globalConstants.siteUrl + post9.imagePath" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post10" href="#" [routerLink]="['/news-detail', post10.id]" class="home-news-carousel-item-title">{{post10.title}} </a>
                <img *ngIf="post10" [src]="_globalConstants.siteUrl + post10.imagePath" alt="">
            </div>            
        </div>

        <div id="sync2" class="owl-carousel owl-theme home-news-carousel-count">
            <div class="item">
                <h1>1</h1>
            </div>
            <div class="item">
                <h1>2</h1>
            </div>
            <div class="item">
                <h1>3</h1>
            </div>
            <div class="item">
                <h1>4</h1>
            </div>
            <div class="item">
                <h1>5</h1>
            </div>
            <div class="item">
                <h1>6</h1>
            </div>
            <div class="item">
                <h1>7</h1>
            </div>
            <div class="item">
                <h1>8</h1>
            </div>
            <div class="item">
                <h1>9</h1>
            </div>
            <div class="item">
                <h1>10</h1>
            </div>            
        </div>
    </div>