<div class="home-news-carousel">
        <div id="sync1" class="owl-carousel owl-theme">
            <div class="item home-news-carousel-item">
                <a *ngIf="post1" href="#" [routerLink]="['/news-detail', post1.id]" class="home-news-carousel-item-title">{{post1.title}} </a>
                <img *ngIf="post1" [src]="post1.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post2" href="#" [routerLink]="['/news-detail', post2.id]" class="home-news-carousel-item-title">{{post2.title}} </a>
                <img *ngIf="post2" [src]="post2.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post3" href="#" [routerLink]="['/news-detail', post3.id]" class="home-news-carousel-item-title">{{post3.title}}</a>
                <img *ngIf="post3" [src]="post3.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post4" href="#" [routerLink]="['/news-detail', post4.id]" class="home-news-carousel-item-title">{{post4.title}} </a>
                <img *ngIf="post4" [src]="post4.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post5" href="#" [routerLink]="['/news-detail', post5.id]" class="home-news-carousel-item-title">{{post5.title}} </a>
                <img *ngIf="post5" [src]="post5.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post6" href="#" [routerLink]="['/news-detail', post6.id]" class="home-news-carousel-item-title">{{post6.title}}
                </a>
                <img *ngIf="post6" [src]="post6.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post7" href="#" [routerLink]="['/news-detail', post7.id]" class="home-news-carousel-item-title">{{post7.title}}
                </a>
                <img *ngIf="post7" [src]="post7.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post8" href="#" [routerLink]="['/news-detail', post8.id]" class="home-news-carousel-item-title">{{post8.title}}
                </a>
                <img *ngIf="post8" [src]="post8.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post9" href="#" [routerLink]="['/news-detail', post9.id]" class="home-news-carousel-item-title">{{post9.title}}</a>
                <img *ngIf="post9" [src]="post9.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post10" href="#" [routerLink]="['/news-detail', post10.id]" class="home-news-carousel-item-title">{{post10.title}} </a>
                <img *ngIf="post10" [src]="post10.mainImage" alt="">
            </div>
            <div class="item home-news-carousel-item">
                <a *ngIf="post11" href="#" [routerLink]="['/news-detail', post11.id]" class="home-news-carousel-item-title">{{post11.title}} </a>
                <img *ngIf="post11" [src]="post10.mainImage" alt="">
            </div>
        </div>

        <div id="sync2" class="owl-carousel owl-theme home-news-carousel-count">
            <div class="item">
                <h1>1</h1>
            </div>
            <div class="item">
                <h1>2</h1>
            </div>
            <div class="item">
                <h1>3</h1>
            </div>
            <div class="item">
                <h1>4</h1>
            </div>
            <div class="item">
                <h1>5</h1>
            </div>
            <div class="item">
                <h1>6</h1>
            </div>
            <div class="item">
                <h1>7</h1>
            </div>
            <div class="item">
                <h1>8</h1>
            </div>
            <div class="item">
                <h1>9</h1>
            </div>
            <div class="item">
                <h1>10</h1>
            </div>
            <div class="item">
                <h1>11</h1>
            </div>
        </div>
    </div>