<div class="home-news-carousel">
        <div id="sync1" class="owl-carousel owl-theme ">
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">Asgari Ücret Tespit Komisyonu 2 Aralık'ta
            toplanıyor </a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">Sigorta şirketleri dokuz ayda 29.1 milyar lira
            tazminat üstlendi </a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>

        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">OPEC Petrol Sepeti varili 63.68 dolara
            yükseldi</a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">Xi Jinping'den korkusuz açıklama </a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">Ayakkabı ihracatı %5,8 artışla 816 milyon doları
            aştı </a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">10 ayda 69 bin 478 şirket ve kooperatif kuruldu
            </a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">BDDK'nın bazı yetkileri Merkez Bankası'na
            devrediliyor
            </a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">BIST100 % 0,28 artışla başladı
            </a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">Draghi enflasyon hedefinde 'birlik' istedi</a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        <div class="item home-news-carousel-item">
            <a href="#" class="home-news-carousel-item-title">Serbest piyasada döviz açılış fiyatları </a>
            <img src="assets/images/home-news-carousel/slide-1.jpg" alt="">
        </div>
        </div>

        <div id="sync2" class="owl-carousel owl-theme home-news-carousel-count">
        <div class="item">
            <h1>1</h1>
        </div>
        <div class="item">
            <h1>2</h1>
        </div>
        <div class="item">
            <h1>3</h1>
        </div>
        <div class="item">
            <h1>4</h1>
        </div>
        <div class="item">
            <h1>5</h1>
        </div>
        <div class="item">
            <h1>6</h1>
        </div>
        <div class="item">
            <h1>7</h1>
        </div>
        <div class="item">
            <h1>8</h1>
        </div>
        <div class="item">
            <h1>9</h1>
        </div>
        <div class="item">
            <h1>10</h1>
        </div>
        </div>
    </div>