<footer class="footer">
    <div class="container-fluid">
        <div class="row">
        <div class="container">
            <div class="row">
            <div class="col-md-6 footer-links d-flex flex-row justify-content-between align-items-start">
                <div class="d-flex flex-column">
                <a href="" class="footer-links-top">BORSA</a>
                <a href="" class="footer-links-default">Günün Özeti</a>
                <a href="" class="footer-links-default">Hisse Fiyatları</a>
                <a href="" class="footer-links-default">Geçmiş Kapanışlar </a>
                <a href="" class="footer-links-default">Canlı Borsa </a>
                <a href="" class="footer-links-default">Ençok Artan/Azalanlar </a>
                <a href="" class="footer-links-default">Endeksler </a>
                <a href="" class="footer-links-default">Dünya Borsaları </a>
                <a href="" class="footer-links-default">Raporlar </a>
    
                </div>
                <div class="d-flex flex-column">
                <a href="" class="footer-links-top">BORSA</a>
                <a href="" class="footer-links-default">Günün Özeti</a>
                <a href="" class="footer-links-default">Hisse Fiyatları</a>
                <a href="" class="footer-links-default">Geçmiş Kapanışlar </a>
                <a href="" class="footer-links-default">Canlı Borsa </a>
                <a href="" class="footer-links-default">Ençok Artan/Azalanlar </a>
                <a href="" class="footer-links-default">Endeksler </a>
                <a href="" class="footer-links-default">Dünya Borsaları </a>
                <a href="" class="footer-links-default">Raporlar </a>
    
                </div>
                <div class="d-flex flex-column">
                <a href="" class="footer-links-top">BORSA</a>
                <a href="" class="footer-links-default">Günün Özeti</a>
                <a href="" class="footer-links-default">Hisse Fiyatları</a>
                <a href="" class="footer-links-default">Geçmiş Kapanışlar </a>
                <a href="" class="footer-links-default">Canlı Borsa </a>
                <a href="" class="footer-links-default">Ençok Artan/Azalanlar </a>
                <a href="" class="footer-links-default">Endeksler </a>
                <a href="" class="footer-links-default">Dünya Borsaları </a>
                <a href="" class="footer-links-default">Raporlar </a>
    
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-start">
                <div class="d-flex flex-column justify-content-end align-items-end">
                <div class="footer-social mb-3">
                    <a href="">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M40 20C40 31.0469 31.0469 40 20 40C8.95312 40 0 31.0469 0 20C0 8.95312 8.95312 0 20 0C31.0469 0 40 8.95312 40 20Z"
                        fill="#3F51B5" />
                        <path
                        d="M25.3672 20H22V32H17V20H14V16H17V13.5898C17.0039 10.082 18.4609 8 22.5938 8H26V12H23.7148C22.1055 12 22 12.6016 22 13.7227V16H26L25.3672 20Z"
                        fill="white" />
                    </svg>
    
                    </a>
                    <a href="">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M40 20C40 31.0469 31.0469 40 20 40C8.95312 40 0 31.0469 0 20C0 8.95312 8.95312 0 20 0C31.0469 0 40 8.95312 40 20Z"
                        fill="#03A9F4" />
                        <path
                        d="M32 13.1211C31.1172 13.5117 30 13.8789 29 14C30.0195 13.3945 31.6328 12.1367 32 11C31.0508 11.5586 29.3281 12.1562 28.207 12.3711C27.3125 11.4219 26.0312 11 24.6172 11C21.8984 11 20 13.3047 20 16V18C16 18 12.1016 14.9531 9.67188 12C9.24609 12.7227 9.00781 13.5664 9.00781 14.457C9.00781 16.2773 10.6758 18.1211 12 19C11.1914 18.9766 9.66406 18.3594 9 18C9 18.0156 9 18.0352 9 18.0586C9 20.4258 10.6602 22.0312 12.9102 22.4805C12.5 22.5938 12 23 10.0703 23C10.6992 24.9336 13.8438 25.957 16 26C14.3125 27.3086 11.3086 28 9 28C8.60156 28 8.38672 28.0234 8 27.9766C10.1797 29.3555 13.2188 30 16 30C25.0586 30 30 23.082 30 16.6289C30 16.418 29.9922 15.707 29.9805 15.5C30.9492 14.8164 31.3438 14.1055 32 13.1211Z"
                        fill="white" />
                    </svg>
    
                    </a>
                </div>
    
    
                <div class="mb-1">
                    <a href="">Şartlar ve Koşullar</a>
                    <a href="">Gizlilik Politikası</a>
                    <a href="">Risk Uyarısı</a>
                </div>
                <div>
                    <p class="text-white font-weight-bold">Copyright 2019 © Dolar.net</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container-fluid legal-notice">
        <div class="row">
        <div class="container">
    
            <strong>Yasal Uyarı Notu </strong>
            <p>© BİST Verileri Foreks tarafından 15 dakika gecikmeli sağlanmaktadır.</p>
            <p>BIST piyasalarında oluşan tüm verilere ait telif hakları tamamen BIST'e ait olup, bu veriler tekrar
            yayınlanamaz. Pay Piyasası, Borçlanma Araçları Piyasası, Vadeli İşlem ve Opsiyon Piyasası verileri BIST
            kaynaklı en az 15 dakika gecikmeli verilerdir.</p>
            <strong>Veri Sağlayıcı Uyarı Notu</strong>
            <p>
            *(Veriler FOREKS Bilgi İletişim Hizmetleri A.Ş. tarafından sağlanmaktadır)
    
            </p>
            <p>Foreks tarafından sağlanan Pay Piyasası, Borçlanma Araçları Piyasası, Vadeli İşlem ve Opsiyon Piyasası
            verileri BIST kaynaklı en az 15 dakika gecikmeli verilerdir. BIST isim ve logosu Koruma Marka Belgesi
            altında korunmakta olup izinsiz kullanılamaz, iktibas edilemez, değiştirilemez. BIST ismi altında
            açıklanan tüm belgelerin telif hakları tamamen BIST'ye ait olup, tekrar yayınlanamaz. BIST, verinin
            sekansı, doğruluğu ve tamlığı konusunda herhangi bir garanti vermez. Veri yayınında oluşabilecek
            aksaklıklar, verinin ulaşmaması, gecikmesi, eksik ulaşması, yanlış olması, veri yayın sistemindeki
            perfomansın düşmesi veya kesintili olması gibi hallerde Alıcı, Alt Alıcı ve / veya Kullanıcılarda
            oluşabilecek herhangi bir zarardan BIST sorumlu değildir.
            </p>
            <strong>
            * Uluslarası döviz piyasası kuru
            </strong>
        </div>
        </div>
    </div>
</footer>