<navigation-header></navigation-header>
<main class="sub-page">
  <section class="hero-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="container mt-4">
          <currency-bar></currency-bar>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container">
      <div class="row row d-flex flex-row align-items-stretch">
        <div class="col-md-8 bg-light rounded news-detail">
          <div class="col-12 mt-3 mb-4">
            <img class="img-fluid rounded w-100 shadow-sm" src="/assets/images/header-banners/kripto-header.jpg" alt="">
            <svg class='remix mt-2'>
              <use xlink:href="assets/images/remix-icon/remixicon.symbol.svg#ri-exchange-dollar-line"></use>
            </svg>
            <h1>Canlı Borsa Verileri </h1>
            <p class="font-weight-normal">Bu bölüm, son canlı borsa verilerini içermektedir. </p>
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">
                      <p>Hisse</p>
                    </th>
                    <th scope="col">
                      <p>Değer</p>
                    </th>

                    <th scope="col">
                      <p>Değişim</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="align-middle" *ngFor="let live of borsaLiveRates">
                    <td class="col-5">
                      {{live.name}}
                    </td>
                    <td class="col-1">
                      {{live.price}}
                    </td>
                    <td class="col-5">
                      <p *ngIf="live.rate >= 0" class="text-success">% {{live.rate}}
                        <span>
                          <img src="../assets/images/icons/up-icon.svg" alt="">
                        </span>
                      </p>
                      <p *ngIf="live.rate < 0" class="text-danger">% {{live.rate}}
                        <span>
                          <img src="../assets/images/icons/down-icon.svg" alt="">
                        </span>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4 currency-converter align-self-start">
          <converter></converter>
        </div>
      </div>
      <news-latest></news-latest>
    </div>
  </section>
</main>
<footer-dolarnet></footer-dolarnet>
