$font-rajdhani:"Rajdhani",sans-serif;
$font-roboto:"Roboto",sans-serif;

$border-radius:3px;
$doviz-color: #436E53;
$doviz-color-2: #0c9463;

$color-gray-5: #698474;
$color-gray-4: #889e81;
$color-gray-3: #bac7a7;
$color-gray-2: #e5e4cc;
$color-gray-1: #f7f7f7f7;